/* Options Framework Admin Styles */

/* Options Heading */

#optionsframework-wrap * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#optionsframework-wrap .group {
    font-size: 0;
    background-color: #fff;
}

#optionsframework-wrap #options-group-1,
#optionsframework-wrap #options-group-8,
#optionsframework-wrap #options-group-9 {
    background-color: transparent;
}

#optionsframework-wrap .group * {
    font-size: 13px;
}

#optionsframework-wrap .minimize { display: none; }

#optionsframework-wrap .wp-picker-container * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#optionsframework-wrap:before,
#optionsframework-wrap:after { content: " "; display: table; }
#optionsframework-wrap:after { clear: both; }
#optionsframework-wrap { *zoom: 1; background: #fff; }

#optionsframework-wrap .theme-options-heading {
    height: 98px;
    font-size: 0;
    background: #82478e url('../images/poly-background-811x437.jpg') center no-repeat;
    -webkit-background-size: 130% auto;
            background-size: 130% auto;
    overflow: hidden;
}

#optionsframework-wrap .theme-options-heading h1,
#optionsframework-wrap .theme-options-heading h2 {
    vertical-align: top;
    height: 100%;
    margin: 0;
    display: inline-block;
}

#optionsframework-wrap .highlight {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: #2ab6ff;
    background-color: transparent;
}

#optionsframework-wrap .theme-options-heading h1 {
    width: 25%;
    padding: 0 0 0 35px;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 98px;
    color: #fff;
    box-shadow: 0 0 32px 0 rgba(0,0,0,0.28);
}

#optionsframework-wrap .theme-options-heading h2 {
    padding: 0 30px 0 35px;
    width: 66%;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 102px;
    color: #f1f1f1;
}

#optionsframework-wrap .theme-options-heading h2 .version {
    float: right;
}

/* Left-side tab menu */

#optionsframework-wrap .nav-tab-wrapper {
    float: left;
    width: 25%;
    overflow: hidden;
}

#optionsframework-wrap .nav-tab-wrapper ul {
    margin: 0;
}

#optionsframework-wrap .nav-tab-wrapper li {
    margin: 0;
    display: block;
    height: 80px;
    list-style-type: none;
}

#optionsframework-wrap .nav-tab-wrapper .dropdown-menu {
    overflow: hidden;
    height: 0;
    box-shadow: inset 0 0 32px -8px rgba(0,0,0,0.28);
    background-color: #5ec5ec;

    -webkit-transition: height 0.4s ease;
         -o-transition: height 0.4s ease;
            transition: height 0.4s ease;
}

#optionsframework-wrap .nav-tab-wrapper .dropdown-menu li {
    height: 52px;
    background-color: transparent;
}

#optionsframework-wrap .nav-tab-wrapper .dropdown-menu .nav-tab {
    border-bottom: none;
    border-top: 1px solid #53b5db;
    line-height: 50px;
    color: #fff;
}

#optionsframework-wrap .nav-tab-wrapper .dropdown-menu .nav-tab:before,
#optionsframework-wrap .nav-tab-wrapper .dropdown-menu .nav-tab:after { display: none; }

#optionsframework-wrap .nav-tab-wrapper .dropdown-menu > li:first-child .nav-tab {
    border-top: none;
}

#optionsframework-wrap .nav-tab-wrapper .dropdown-menu .nav-tab:hover { color: #3186a6; box-shadow: none; }
#optionsframework-wrap .nav-tab-wrapper .dropdown-menu .nav-tab.nav-tab-active {
    box-shadow: inset 0 0 32px -15px rgba(0,0,0,0.25);
    color: #3186a6;
}

#optionsframework-wrap .nav-tab-wrapper .nav-tab {
    position: relative;
    margin: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 0 0 35px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 80px;
    color: #000;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    border-width: 0 0 1px 0;
    background: transparent;
    box-shadow: 0 0 32px -20px rgba(0,0,0,0.28);

    -webkit-transition: color 0.3s ease, box-shadow 0.3s ease;
         -o-transition: color 0.3s ease, box-shadow 0.3s ease;
            transition: color 0.3s ease, box-shadow 0.3s ease;
}

#optionsframework-wrap .nav-tab-wrapper .nav-tab:before,
#optionsframework-wrap .nav-tab-wrapper .nav-tab:after {
    position: absolute;
    margin-top: -15px;
    top: 50%;
    right: 8%;
    display: inline-block;
    width: 42px;
    height: 30px;
    content: '';
    background: transparent url('../images/theme_options_nav_icons-294x60.png') no-repeat;

    -webkit-transition: opacity 0.3s ease;
         -o-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
}

#optionsframework-wrap .nav-tab-wrapper .nav-tab:before { opacity: 1; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab:after  { opacity: 0; }

#optionsframework-wrap .nav-tab-wrapper .nav-tab.nav-tab-active:before,
#optionsframework-wrap .nav-tab-wrapper .nav-tab:hover:before { opacity: 0; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab.nav-tab-active:after,
#optionsframework-wrap .nav-tab-wrapper .nav-tab:hover:after  { opacity: 1; }

#optionsframework-wrap .nav-tab-wrapper .nav-tab[title="Basic Settings"]:before   { background-position: 0 -30px; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab[title="Basic Settings"]:after    { background-position: 0 0; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab[title="Main menu"]:before        { background-position: -42px -30px; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab[title="Main menu"]:after         { background-position: -42px 0; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab[title="Typography"]:before       { background-position: -252px -30px; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab[title="Typography"]:after        { background-position: -252px 0; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab[title="Custom CSS & JS"]:before  { background-position: -126px -30px; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab[title="Custom CSS & JS"]:after   { background-position: -126px 0; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab[title="Footer"]:before           { background-position: -168px -30px; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab[title="Footer"]:after            { background-position: -168px 0; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab[title="Blog"]:before             { background-position: -84px -30px; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab[title="Blog"]:after              { background-position: -84px 0; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab[title="API Integrations"]:before { background-position: -210px -30px; }
#optionsframework-wrap .nav-tab-wrapper .nav-tab[title="API Integrations"]:after  { background-position: -210px 0; }

#optionsframework-wrap .nav-tab-wrapper .nav-tab.nav-tab-active {
    color: #5ec5ec;
    pointer-events: none;
}

#optionsframework-wrap .nav-tab-wrapper .nav-tab:hover,
#optionsframework-wrap .nav-tab-wrapper .nav-tab-active {
    box-shadow: 0 0 32px -5px rgba(0,0,0,0.28);
}

/* Tab content */

#optionsframework-metabox {
    float: right;
    width: 75%;
    padding: 17px 10px 200px 17px;
    background: #eaebeb;
    padding-top: 0 !important;

    -webkit-box-shadow: inset 32px 0 32px -32px rgba(0,0,0,0.28);
       -moz-box-shadow: inset 32px 0 32px -32px rgba(0,0,0,0.28);
            box-shadow: inset 32px 0 32px -32px rgba(0,0,0,0.28);
}

#setting-error-error_update_options,
#setting-error-restore_defaults,
#setting-error-save_options {
    margin: 0;
    float: left;
    width: 75%;
    padding: 10px 17px 0;
    border: none;
    background-color: #eaebeb;
    -webkit-box-shadow: inset 32px 0 32px -32px rgba(0,0,0,0.28);
       -moz-box-shadow: inset 32px 0 32px -32px rgba(0,0,0,0.28);
            box-shadow: inset 32px 0 32px -32px rgba(0,0,0,0.28);
}

#setting-error-error_update_options p,
#setting-error-restore_defaults p,
#setting-error-save_options p {
    display: inline-block;
    padding: 5px 9px;
    margin: 0;
    background-color: #fff;
    border-left: 4px solid #7ad03a;
}

#optionsframework {
    background: transparent;
}

#optionsframework .section {
    margin: 0px;
    padding: 0 9px 9px;
    background: #fff;
    overflow: hidden;
    padding-top: 10px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

#optionsframework .section.inline-block-section {
    display: inline-block;
    width: 33.3333333%;
    vertical-align: top;
}

@media screen and ( max-width: 1024px ) {
    #optionsframework .section.inline-block-section {
        display: block;
        width: 100%;
    }
}

#optionsframework .section.inline-block-section .heading {
    white-space: nowrap;
}

#optionsframework .section.parent + .section {
    padding: 9px 9px 0;
}

#optionsframework .section.closed {
    height: 58px;
}

#optionsframework .section .heading {
    position: relative;
    margin: 0px;
    display: inline-block;
    width: 100%;
    height: 20px;
    padding: 10px 15px 0px 10px;
    border-radius: 3px;
    background: #5ec5ec;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 16px;
    color: #fff;
}

#optionsframework .controls {
    padding-bottom: 5px;
}

/* START DIRTY HACK FOR SECTIONS */
#optionsframework .section.parent {
    position: relative;
    margin: 15px 0 -3px;
    display: block;
    height: 40px;
    padding: 0px 0px;
    border-radius: 3px;
    background: #5ec5ec;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 16px;
    color: #fff;
}
#optionsframework .section.parent .heading {  color: #fff; padding: 12px 15px; margin-top:0px !important; }
#optionsframework .section .heading { background:none; color:#222; }
/* END DIRTY HACK FOR SECTIONS */

#optionsframework .section .heading .minimize {
    position: absolute;
    top: 0;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#optionsframework .section .heading .minimize:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.5px 0 0 -9px;
    display: block;
    width: 18px;
    height: 5px;
    background: #fff;
    opacity: 0.6;

    -webkit-transition: opacity 0.2s ease;
         -o-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;
}

#optionsframework .section .heading .minimize:hover:before {
    opacity: 1;
}

#optionsframework .section .option {
    padding: 0px 12px 0px 7px;
}

#optionsframework .section .explain {
    margin-bottom: 10px;
    display: block;
    padding: 0 3px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #b1b1b1;
}

#optionsframework input[type="text"].upload,
#optionsframework input[type="text"].of-input {
    -webkit-transition: border 0.2s ease;
         -o-transition: border 0.2s ease;
            transition: border 0.2s ease;

    margin: 0 10px 10px 0;
    width: 100%;
    max-width: 305px;
    height: 32px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    outline: none;
	float: left;
}

#optionsframework input[type="text"]:hover {
    border-color: #b5b5b5;
}

#optionsframework input[type="text"]:focus {
    box-shadow: none;
    border-color: #5ec5ec;
}

#optionsframework input.upload-button {
    -webkit-transition: background 0.2s ease, color 0.2s ease;
         -o-transition: background 0.2s ease, color 0.2s ease;
            transition: background 0.2s ease, color 0.2s ease;

    margin: 0 0 10px;
    display: inline-block;
    min-width: 90px;
    height: 32px;
    padding: 0 15px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 16px;
    background: #5ec5ec;
    border: none;
    outline: none;
}

#optionsframework input.upload-button:hover { background: #44b4de; }
#optionsframework input[type="checkbox"] { display: none; }

#optionsframework input[type="checkbox"] + .pseudo-checkbox {
    -webkit-transition: background 0.2s ease, color 0.2s ease;
         -o-transition: background 0.2s ease, color 0.2s ease;
            transition: background 0.2s ease, color 0.2s ease;

    position: relative;
    display: block;
    width: 65px;
    height: 32px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 16px;
    background: #f2f2f2;
    cursor: pointer;
    overflow: hidden;
}

#optionsframework input[type="checkbox"] + .pseudo-checkbox::before,
#optionsframework input[type="checkbox"] + .pseudo-checkbox::after {
    -webkit-transition: left 0.2s ease, right 0.2s ease;
         -o-transition: left 0.2s ease, right 0.2s ease;
            transition: left 0.2s ease, right 0.2s ease;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    position: absolute;
    top: 0;
    display: block;
    width: 35px;
    height: 100%;
    line-height: 32px;
}

#optionsframework input[type="checkbox"] + .pseudo-checkbox > i {
    -webkit-transition: right 0.2s ease;
         -o-transition: right 0.2s ease;
            transition: right 0.2s ease;

    position: absolute;
    top: 3px;
    right: 4px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background: #fff;
}

/* Checkbox */
#optionsframework input[type="checkbox"] + .pseudo-checkbox::before { content: "Off"; left: 0; color: #a3a3a3; text-align: center; }
#optionsframework input[type="checkbox"] + .pseudo-checkbox::after { content: 'On'; right: -32px; color: #fff; padding-left: 5px; }
#optionsframework input[type="checkbox"]:checked + .pseudo-checkbox { background-color: #92c83c; }
#optionsframework input[type="checkbox"]:checked + .pseudo-checkbox > i { right: 35px; }
#optionsframework input[type="checkbox"]:checked + .pseudo-checkbox::before { left: -32px; }
#optionsframework input[type="checkbox"]:checked + .pseudo-checkbox::after { right: 0; }

#optionsframework .menu-color-switch input[type="checkbox"] + .pseudo-checkbox { width: 80px; }
#optionsframework .menu-color-switch input[type="checkbox"] + .pseudo-checkbox { background-color: #444; }
#optionsframework .menu-color-switch input[type="checkbox"]:checked + .pseudo-checkbox { background-color: #f2f2f2; }
#optionsframework .menu-color-switch input[type="checkbox"]:checked + .pseudo-checkbox > i { right: 50px; }
#optionsframework .menu-color-switch input[type="checkbox"] + .pseudo-checkbox::before,
#optionsframework .menu-color-switch input[type="checkbox"] + .pseudo-checkbox::after { width: 50px; }
#optionsframework .menu-color-switch input[type="checkbox"] + .pseudo-checkbox::before { content: "Dark"; color: #f2f2f2; }
#optionsframework .menu-color-switch input[type="checkbox"] + .pseudo-checkbox::after { content: 'Light'; right: -50px; color: #444; }
#optionsframework .menu-color-switch input[type="checkbox"]:checked + .pseudo-checkbox::before { left: -50px; }
#optionsframework .menu-color-switch input[type="checkbox"]:checked + .pseudo-checkbox::after { right: 0; }

/* Slider */
#optionsframework .slider-container { position: relative; margin-left: 9px; width: 150px; height: 18px; display: inline-block; vertical-align: top; }
#optionsframework .slider-container .ui-slider-handle { position: absolute; top: 2px; margin-left: -7px; display: block; width: 14px; height: 14px; background: #fff; border-radius: 50%; -webkit-box-shadow: none; box-shadow: none; }
#optionsframework .slider-container:before { content: ''; position: absolute; top: 0; left: -9px; right: -9px; bottom: 0; display: block; background: #f2f2f2; border-radius: 9px; }
#optionsframework .slider-container .ui-slider-range-min { position: relative; height: 100%; }
#optionsframework .slider-container .ui-slider-range-min:before { content: ''; position: absolute; top: 0; left: -9px; right: -9px; bottom: 0; background: #5ec5ec; border-radius: 9px; }
#optionsframework .slider-value { display: inline-block; margin-left: 20px; vertical-align: top; line-height: 18px; }
#optionsframework .slider-container + label input { display: inline-block; width: 40px; padding: 0; border: 1px solid #ddd; margin: 0 5px 0; text-align: center; vertical-align: top; line-height: 20px; }
#optionsframework .slider-container + label { margin: -2px 0 0 20px; display: inline-block; line-height: 20px; }

#optionsframework p {
    margin-bottom:0;
    padding-bottom:10px;
}

#optionsframework .controls input[type=text].wp-color-picker {
    width: 65px;
}

#optionsframework .controls select {
    -webkit-transition: border  0.2s ease;
         -o-transition: border  0.2s ease;
            transition: border  0.2s ease;

    margin: 0 0 10px;
    width: 100%;
    max-width: 305px;
    height: 32px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    outline: none;
    cursor: pointer;

    -webkit-box-shadow: none;
            box-shadow: none;
}

#optionsframework .controls select:hover {
    border-color: #b5b5b5;
}

#optionsframework .controls select:focus {
    border-color: #5ec5ec;
}

#optionsframework .controls textarea {
    margin-bottom:10px;
    width:100%;
    resize: none;
}

#optionsframework .section-typography .wp-picker-container {
    margin-top:2px;
}

/* Image Uploader */

#optionsframework .screenshot {
    position:relative;
    float: left;
    display: inline-block;
    margin-right: 10px;
	clear:both;
}

#optionsframework .screenshot img {
    background:#fafafa;
    border-color:#ccc #eee #eee #ccc;
    border-style:solid;
    border-width:1px;
    float:left;
    max-width:334px;
    padding:4px;
    margin-bottom:10px;
}

#optionsframework .screenshot .remove-image {
    background:url("../images/ico-delete.png") no-repeat;
    border:medium none;
    bottom:4px;
    display:block;
    float:left;
    height:16px;
    padding:0;
    position:absolute;
    left:-4px;
    text-indent:-9999px;
    width:16px;
}

#optionsframework .screenshot .no_image .file_link {
    margin-left: 20px;
}

#optionsframework .screenshot .no_image .remove-button {
    bottom: 0px;
}

#optionsframework .reset-button {
    float:left;
    cursor:pointer;
}

#optionsframework .depend-block-wrap {
    padding: 0;
    border-radius: 0;
    overflow: hidden;

    -webkit-transition: height 0.3s ease, padding 0.3s ease;
         -o-transition: height 0.3s ease, padding 0.3s ease;
            transition: height 0.3s ease, padding 0.3s ease;
}

/* Bottom Section */

#optionsframework-submit {
    margin: 14px 0 0;
    border: none;
}

#optionsframework-submit input[type="submit"].reset-button,
#optionsframework-submit input[type="submit"].button-primary {
    -webkit-transition: background 0.2s ease;
         -o-transition: background 0.2s ease;
            transition: background 0.2s ease;

    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #fff;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

#optionsframework-submit input[type="submit"].button-primary {
    float: right;
    height: 47px;
    padding: 0 30px;
    background: #92c83c;
	width: 250px;
}

#optionsframework-submit input[type="submit"].button-primary:hover {
    background: #84b732;
}

#optionsframework-submit input[type="submit"].reset-button {
    float: left;
    height: 47px;
    padding: 0 30px;
    background: #5ec5ec;
}

#optionsframework-submit input[type="submit"].reset-button:hover {
    background: #44b4de;
}

#optionsframework .section:after { content: ""; display: table; }
#optionsframework .section:after { clear: both; }

.of-radio-img-img {
    margin: 2px 4px;
}

.of-radio-img-img.of-radio-img-selected {
    border: 2px solid #000;
    margin: 0 2px;
}
