/* ADMIN MENU CUSTOM ICONS */

.updated.vc_license-activation-notice,
.rs-update-notice-wrap { display: none; } /* REMOVE ANNOYING MESSAGES */

#toplevel_page_options-framework .wp-menu-image:before { padding: 0; margin: 7px 0; background: transparent url('../images/icon/theme_options_sprite.png') no-repeat; content: ''; background-position: -47px 0; opacity: 0.6; }
#toplevel_page_startuply_import .wp-menu-image:before { padding: 0; margin: 7px 0; background: transparent url('../images/icon/theme_options_sprite.png') no-repeat; content: ''; background-position: -47px -20px; opacity: 0.6; }

li[data-element="vc_text_separator"] { display:none !important; } /* THIS IS A TEMPORARY FIX, REFACTOR THIS SHORTCODE */
li[data-element="vc_btn"] { display:none !important; } /* THIS IS A TEMPORARY FIX, REFACTOR THIS SHORTCODE */
.wpb_vsc-product-pricing .wpb_vc_param_value.content.textarea_html { display:none; } /* THIS IS A TEMPORARY FIX, REFACTOR THIS SHORTCODE */


#adminmenu #toplevel_page_options-framework.menu-top:hover .wp-menu-image:before,
#adminmenu #toplevel_page_options-framework.opensub>a.menu-top .wp-menu-image:before,
#adminmenu #toplevel_page_options-framework>a.menu-top:focus .wp-menu-image:before,
#adminmenu #toplevel_page_startuply_import.menu-top:hover .wp-menu-image:before,
#adminmenu #toplevel_page_startuply_import.opensub>a.menu-top .wp-menu-image:before,
#adminmenu #toplevel_page_startuply_import>a.menu-top:focus .wp-menu-image:before { opacity: 1; }

#adminmenu #menu-posts-team { display:none; }

#toplevel_page_CF7DBPluginSubmissions .dashicons-before img { display:none; }
#toplevel_page_CF7DBPluginSubmissions .dashicons-before:before { content: "\f337"; }

#displayform #form_name { width:100%; }

.vc_row[data-title="Edit Row"] .vc_css-editor .vc_settings .vc_border-style + label,
.vc_row[data-title="Edit Row"] .vc_css-editor .vc_settings .vc_border-style + label + .color-group,
.vc_row[data-title="Edit Row"] .vc_css-editor .vc_settings .vc_background-image,
.vc_row[data-title="Edit Row"] .vc_css-editor .vc_settings .vc_background-style { display: none; }

.vc_row[data-title="Edit Row"] [data-param_name="vsc_bg_repeat"],
.vc_row[data-title="Edit Row"] [data-param_name="vsc_bg_position"],
.vc_row[data-title="Edit Row"] [data-param_name="vsc_bg_size"] { width: 33.33333%; }

/* Hide legacy var holders */
.wpb_el_type_holder[data-param_name="vsc_row_type"].vc_shortcode-param,
.wpb_el_type_holder[data-param_name="bg_image"].vc_shortcode-param,
/*.wpb-layout-element-button[data-element=vsc-table_placebo],*/
.wpb_el_type_holder[data-param_name="bg_color"].vc_shortcode-param { height:0 !important; margin:0 !important; padding:0 !important; }

/* VISUAL COMPOSER CUSTOM STYLES */

.vc_row_section_break{ line-height: 16px; height: 16px; text-transform: uppercase; color: #878787; font-size: 11px; }

.wpb_vc_column .vc_control { opacity:0; -webkit-transition: opacity 0.2s ease; transition: opacity 0.2s ease; }
.wpb_vc_column:hover .vc_control { opacity:1; }

.wpb_element_wrapper h4 { color: #210430 !important; font-size: 1.2em !important; font-weight:500 !important; }
.wpb_element_wrapper .textarea_raw_html, .wpb_edit_form_elements .textarea_raw_html { font-family: "Open Sans",sans-serif !important; font-size: 11pt !important; color:#333333 !important; }
.wpb_css_animation .vc_element-icon { background-image: none; }

.wpb_content_element > .wpb_element_wrapper > .wpb_element_title > .vc_element-icon[src] { float: none; margin: 10px auto 0; }

/*.wpb_vsc-section-title .wpb_element_wrapper { padding: 35px 60px !important;}*/
.wpb_vsc-section-title .wpb_element_wrapper .textarea_html  { display:none !important;}
.wpb_content_element > .wpb_element_wrapper { height: auto !important; }
.wpb_content_element.title_extended > .wpb_element_wrapper { background-position: 15px 20px !important; }

.pricing_extended .content.textarea_html { display: none; }
.pricing_extended .wpb_element_title { line-height: 32px; }

.title.wpb-textarea_raw_html { height: 40px; }
.vc_admin_label { font-style: normal !important;  font-size: 13px !important; }

/*.wpb_vc_tour > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li a { padding: 1.6em 1em !important; }*/
.wpb_vc_tour > .wpb_element_wrapper .wpb_vc_tab { min-height: 285px; }

/*.wpb_vc_tabs li a { padding: 1.3em 4em !important; }*/
.modal-body { max-height: 545px !important; }

.wpb_element_title { font-weight:300 !important; }

.controls_column { opacity:0; }
.wpb_vc_row:hover .controls_column { opacity:1; }
.wpb_el_type_textarea.vc-shortcode-param .wpb-textarea { min-height:225px; }

.wpb_vc_gallery .wpb_element_wrapper { padding: 15px 10px 25px 62px !important; background-position:15px 20px !important; }
#visual_composer_content h6 { font-weight:700; font-size:14px; color:#50145F !important; }

.controls_row .vc_row_video { float: right; margin-top: 3px; width: 16px; height: 16px; display: block; margin-right: 3px; background: transparent url('../images/icon/video_admin_icon_16x16.png') center no-repeat; }
.vc_animation_icon { vertical-align: top; margin-top: 2px; width: 16px; height: 16px; display: inline-block; margin-right: 3px; text-align: center; border: 0px solid #878787; border-radius: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.controls_row .vc_animation_icon { float: right; display: block; margin-top: 3px; }
.vc_animation_icon:before { content: url('../images/icon/col-animation.png'); color: #777; line-height: 9px; font-size: 12px; }

/* END */

/* VISUAL COMPOSER CUSTOM ICONS */

/*Templaterra*/      	.vc_element-icon.icon-templatera { background: transparent url('../images/icon/default.png') 0 0 no-repeat; }
/*Accordion*/           .vc_element-icon.icon-wpb-ui-accordion { background: transparent url('../images/icon/accordion.png') 0 0 no-repeat; background-position: 0px !important; }
/*Call to action*/      .vc_element-icon.icon-wpb-call-to-action { background: transparent url('../images/icon/call_to_action.png') 0 0 no-repeat; }
/*Call to action 2*/    #vc_cta_button2 .vc_element-icon.icon-wpb-call-to-action { background: transparent url('../images/icon/call_to_action_2.png') 0 0 no-repeat; }
/*Contact form*/        .vc_element-icon.icon-wpb-contactform7 { background: transparent url('../images/icon/contact_form.png') 0 0 no-repeat; }
/*Form Manager */       #contact-form-7-wrapper .vc_element-icon.icon-wpb-contactform7 { background: transparent url('../images/icon/forms_manager.png') 0 0 no-repeat; }
/*Form Manager */       .wpb_contact-form-7-wrapper[data-element_type=contact-form-7-wrapper] .vc_element-icon.icon-wpb-contactform7 { background-image:url('../images/icon/forms_manager.png') !important;}
/*FAQ*/                 .vc_element-icon.icon-wpb-toggle-small-expand { background: transparent url('../images/icon/FAQ.png') 0 0 no-repeat; }
/*Row*/                 .vc_element-icon.icon-wpb-row { background: transparent url('../images/icon/row.png') 0 0 no-repeat; background-position: 0px !important; }
/*Quote*/               .vc_element-icon.icon-quote { background: transparent url('../images/icon/quote.png') 0 0 no-repeat; }
/*Separator*/           .vc_element-icon.icon-wpb-ui-separator { background: transparent url('../images/icon/separator.png') 0 0 no-repeat; }
/*Tabs*/                .vc_element-icon.icon-wpb-ui-tab-content { background: transparent url('../images/icon/tabs.png') 0 0 no-repeat; background-position: 0px !important;}
/*Tour section*/        .vc_element-icon.icon-wpb-ui-tab-content-vertical { background: transparent url('../images/icon/tour_section.png') 0 0 no-repeat; background-position: 0px !important;}
/*Button*/              .vc_element-icon.icon-buttons { background: transparent url('../images/icon/button.png') 0 0 no-repeat; }
/*Space*/               .vc_element-icon.icon-ui-splitter-horizontal { background: transparent url('../images/icon/space.png') 0 0 no-repeat; }
/*List*/                .vc_element-icon.icon-list { background: transparent url('../images/icon/list.png') 0 0 no-repeat; }
/*Section Title*/       .vc_element-icon.icon-section-title { background: transparent url('../images/icon/section_title.png') 0 0 no-repeat; }
/*Text with icon*/      .vc_element-icon.icon-for-twi { background: transparent url('../images/icon/text_with_icon.png') 0 0 no-repeat; }
/*Canvas Title*/        .vc_element-icon.icon-for-canvas-title { background: transparent url('../images/icon/canvas_title.png') 0 0 no-repeat; }
/*Pricing Table*/       .vc_element-icon.icon-table { background: transparent url('../images/icon/pricing_table.png') 0 0 no-repeat; }
/*Testimonials*/        .vc_element-icon.icon-testimonials { background: transparent url('../images/icon/testimonials.png') 0 0 no-repeat; }
/*Portfolio Grid*/      .vc_element-icon.icon-sticky-notes { background: transparent url('../images/icon/portfolio_grid.png') 0 0 no-repeat; }
/*Newsletter */         .vc_element-icon.icon-newsletter { background: transparent url('../images/icon/newsletter.png') 0 0 no-repeat; }
/*Progress bar*/       .vc_element-icon.icon-wpb-graph { background: transparent url('../images/icon/progress-bar.png') 0 0 no-repeat; }
/*Pie chart*/          .vc_element-icon.icon-wpb-vc_pie { background: transparent url('../images/icon/pie-chart.png') 0 0 no-repeat; }
/*Counter*/            .vc_element-icon.icon-counter { background: transparent url('../images/icon/counter.png') 0 0 no-repeat; }
/*CSS3 Animator*/      .wpb-content-layouts .wpb-layout-element-button .css_animation { background-image:url('../images/icon/css_animator.png') !important; width: 32px !important; height: 32px !important;}
						.wpb_css_animation[data-element_type=css_animation] { background-image:url('../images/icon/css_animator.png') !important;}
/*Countdown*/          #vsc-countdown .vc_element-icon { background: transparent url('../images/icon/countdown.png') 0 0 no-repeat !important; }
/*Countdown*/          .wpb_vsc-countdown[data-element_type=vsc-countdown] .vc_element-icon{ background: transparent url('../images/icon/countdown.png') 0 0 no-repeat !important; }
/*Posts grid*/         .vc_element-icon.icon-wpb-application-icon-large { background: transparent url('../images/icon/posts_grid.png') 0 0 no-repeat; }

/*WP User Registration*/#vsc-user-registartion-form .vc_element-icon { background: transparent url('../images/icon/user_registration.png') 0 0 no-repeat; }

/*Revoslider*/         .vc_element-icon.icon-wpb-revslider { background: transparent url('../images/icon/rev_slider.png') 0 0 no-repeat; }
/*Video Player*/       .vc_element-icon.icon-wpb-film-youtube { background: transparent url('../images/icon/video_player.png') 0 0 no-repeat; }
/*Raw HTML*/      	   .vc_element-icon.icon-wpb-raw-javascript { background: transparent url('../images/icon/raw_js.png') 0 0 no-repeat; }
/*Raw JS*/       	   .vc_element-icon.icon-wpb-raw-html { background: transparent url('../images/icon/raw_html.png') 0 0 no-repeat; }

/*Media Grid*/         .vc_element-icon.vc_icon-vc-media-grid { background: transparent url('../images/icon/media_grid.png') 0 0 no-repeat; }
/*Posts Masonry Grid*/ .vc_element-icon.vc_icon-vc-masonry-grid { background: transparent url('../images/icon/posts_masonry_grid.png') 0 0 no-repeat; }
/*Media Masonry Grid*/ .vc_element-icon.vc_icon-vc-masonry-media-grid { background: transparent url('../images/icon/masonry_media_grid.png') 0 0 no-repeat; }
/*Team member*/ 	   .vc_element-icon.icon-team-member { background: transparent url('../images/icon/team_member.png') 0 0 no-repeat; }
/*Widgetized sidebar*/ .vc_element-icon.icon-wpb-layout_sidebar { background: transparent url('../images/icon/widgetized_sidebar.png') 0 0 no-repeat; }
/*WP Shortcodes*/      .vc_element-icon.icon-wpb-wp { background: transparent url('../images/icon/wp_icon.png') 0 0 no-repeat; }
/*Google map*/         .vc_element-icon.icon-wpb-map-pin { background: transparent url('../images/icon/google_maps.png') 0 0 no-repeat; }
/*Icon*/      		   .vc_element-icon.icon-wpb-vc_icon { background: transparent url('../images/icon/vc_icon.png') 0 0 no-repeat; }
/*Icon*/      		   .vc_element-icon.icon-wpb-vc_icon { background: transparent url('../images/icon/vc_icon.png') 0 0 no-repeat; }
/*Single image*/       .vc_element-icon.icon-wpb-single-image { background: transparent url('../images/icon/single_image.png') 0 0 no-repeat; }
/*Image gallery*/      .vc_element-icon.icon-wpb-images-stack { background: transparent url('../images/icon/image_gallery.png') 0 0 no-repeat; }
/*Empty space*/        .vc_element-icon.icon-wpb-ui-empty_space { background: transparent url('../images/icon/space.png') 0 0 no-repeat;}


/*Text block*/         #vc_column_text .vc_element-icon.icon-wpb-layer-shape-text { background: transparent url('../images/icon/text-block.png') 0 0 no-repeat; }
/*Message box*/        #vc_message .vc_element-icon.vc_element-icon.icon-wpb-information-white { background: transparent url('../images/icon/message_box.png') 0 0 no-repeat; }
/*Content slider*/     #vsc_content_slider .vc_element-icon.icon-wpb-ui-tab-content-vertical { background: transparent url('../images/icon/content_slider.png') 0 0 no-repeat;}

/*Facebook like*/      #vc_facebook .vc_element-icon.icon-wpb-balloon-facebook-left { background: transparent url('../images/icon/facebook.png') 0 0 no-repeat;}
/*Tweet me*/           #vc_tweetmeme .vc_element-icon.icon-wpb-tweetme { background: transparent url('../images/icon/twitter.png') 0 0 no-repeat;}
/*Google+*/            #vc_googleplus .vc_element-icon.icon-wpb-application-plus { background: transparent url('../images/icon/googleplus.png') 0 0 no-repeat;}
/*Pinterest*/          #vc_pinterest .vc_element-icon.icon-wpb-pinterest { background: transparent url('../images/icon/pinterest.png') 0 0 no-repeat;}
/*Flickr*/             #vc_flickr .vc_element-icon.icon-wpb-flickr { background: transparent url('../images/icon/flickr.png') 0 0 no-repeat;}


/*EDD shortcodes*/
						#VC_edd .vc_element-icon{ background-image: url('../images/icon/edd_shortcode.png') !important; }
						.wpb_VC_edd[data-element_type=VC_edd] .vc_element-icon{ background-image:  url('../images/icon/edd_shortcode.png') !important; }

/* END */

/* Temp fix for unused button, can't remove it completely because of dependencies in VC templates */
.wpb-content-layouts-container li[data-element="vc_button2"] { display:none !important; }

/* Stylyse Stratuply Widgets */
#widget-list .widget-top {
  -webkit-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
}
#widget-list div[id*="_sply_widget-__i__"] .widget-top {
  position: relative;
  border: 1px solid rgba(0, 116, 162, 0.3);
}
#widget-list div[id*="_sply_widget-__i__"] .widget-top:hover {
  border: 1px solid #5ec5ec !important;
}
#widget-list div[id*="_sply_widget-__i__"] .widget-top:after {
  top: 3px;
  right: 3px;
  line-height: 1;
  font-size: 75%;
  color: #ffffff;
  display: inline;
  content: "Startuply";
  font-weight: bold;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
  padding: .2em .6em .3em;
  vertical-align: baseline;
  background-color: #5ec5ec;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.wpb_vsc_content_slider > .vc_controls {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  visibility: visible;
  position: relative;
  height: 23px;
  margin: 18px 0 2px 0;
  border: 1px dotted #e6e6e6;
  border-bottom-width: 0;
}
.wpb_vsc_content_slider > .wpb_element_wrapper {
  padding: 0px;
  background: none;
  border: none;
  height: auto;
}
.wpb_vsc_content_slider > .wpb_element_wrapper .wpb_tabs_holder,
.wpb_vsc_content_slider > .wpb_element_wrapper .tabs_controls {
  padding: 0;
}
.wpb_vsc_content_slider > .wpb_element_wrapper .ui-tabs .ui-tabs-nav {
  position: relative;
  top: 1px;
  z-index: 2;
}
.wpb_vsc_content_slider > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li {
  top: -1px;
  background: #e6e6e6;
  border: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 3px;
  padding: 0;
}
.wpb_vsc_content_slider > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li a {
  color: #848c91;
  padding: 10px 16px;
}
.wpb_vsc_content_slider > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block {
  padding: 11px;
}
.wpb_vsc_content_slider > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block a {
  padding: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: transparent url('../images/controls.png') no-repeat -16px -16px;
}
.wpb_vsc_content_slider > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background: #ffffff;
}

.wpb_vsc_content_slider .wpb_vc_tab > .vc_controls > div > :first-child .vc_btn-content {
  color: transparent;
  text-indent: -30px;
}
.wpb_vsc_content_slider .wpb_vc_tab > .vc_controls > div > :first-child .vc_btn-content:after {
  content: 'Slide';
  margin-left: 15px;
}
a.help {
border-radius: 100%;
background: #BDCDD8;
color: #fff;
width: 12px;
height: 12px;
display: inline-block;
line-height: 13px;
font-size: 9px;
text-align: center;
text-decoration: none;
font-style: normal;
}
.wp-customizer-msg .alert { text-align:center; font-size:24px; }
.wp-customizer-msg p { text-align:center; }
a.help:hover { background-color:#1ac6ff; }
.alert { border: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; position: relative; font-size: 13px; line-height: 16px; padding: 16px; font-style: normal; }
.alert-info { background-color: #e2f6fa; color: #4c95a4; }
.alert-danger { background-color: #fae2e2; color: #ad5254; }
.notice_countdown_format, .notice_countdown {display: none !important;}

*[data-element="contact-form-7"] {display: none !important;}

*[data-vc-shortcode="vsc-section-title"] .wpb_el_type_google_fonts > .wpb_element_label { margin-top: 5px; padding: 16px 0 15px; font-size: 22px; font-weight: 400; border-top: 1px solid #ddd; }

div[data-vc-shortcode="vc_tta_tabs"] div[data-vc-shortcode-param-name="style"],
div[data-vc-shortcode="vc_tta_tabs"] div[data-vc-shortcode-param-name="shape"],
div[data-vc-shortcode="vc_tta_tabs"] div[data-vc-shortcode-param-name="color"],
div[data-vc-shortcode="vc_tta_tabs"] div[data-vc-shortcode-param-name="no_fill_content_area"],
div[data-vc-shortcode="vc_tta_tabs"] div[data-vc-shortcode-param-name="spacing"],
div[data-vc-shortcode="vc_tta_tabs"] div[data-vc-shortcode-param-name="gap"],
div[data-vc-shortcode="vc_tta_tabs"] div[data-vc-shortcode-param-name="tab_position"],
div[data-vc-shortcode="vc_tta_tabs"] div[data-vc-shortcode-param-name="alignment"],
div[data-vc-shortcode="vc_tta_tabs"] div[data-vc-shortcode-param-name="controls_size"],
div[data-vc-shortcode="vc_tta_tabs"] div[data-vc-shortcode-param-name="active_section"],
div[data-vc-shortcode="vc_tta_tabs"] div[data-vc-shortcode-param-name="pagination_style"],
div[data-vc-shortcode="vc_tta_tabs"] div[data-vc-shortcode-param-name="pagination_color"],
div[data-vc-shortcode="vc_tta_tour"] div[data-vc-shortcode-param-name="style"],
div[data-vc-shortcode="vc_tta_tour"] div[data-vc-shortcode-param-name="shape"],
div[data-vc-shortcode="vc_tta_tour"] div[data-vc-shortcode-param-name="color"],
div[data-vc-shortcode="vc_tta_tour"] div[data-vc-shortcode-param-name="no_fill_content_area"],
div[data-vc-shortcode="vc_tta_tour"] div[data-vc-shortcode-param-name="spacing"],
div[data-vc-shortcode="vc_tta_tour"] div[data-vc-shortcode-param-name="gap"],
div[data-vc-shortcode="vc_tta_tour"] div[data-vc-shortcode-param-name="tab_position"],
div[data-vc-shortcode="vc_tta_tour"] div[data-vc-shortcode-param-name="alignment"],
div[data-vc-shortcode="vc_tta_tour"] div[data-vc-shortcode-param-name="controls_size"],
div[data-vc-shortcode="vc_tta_tour"] div[data-vc-shortcode-param-name="active_section"],
div[data-vc-shortcode="vc_tta_tour"] div[data-vc-shortcode-param-name="pagination_style"],
div[data-vc-shortcode="vc_tta_tour"] div[data-vc-shortcode-param-name="pagination_color"],
div[data-vc-shortcode="vc_tta_accordion"] div[data-vc-shortcode-param-name="style"],
div[data-vc-shortcode="vc_tta_accordion"] div[data-vc-shortcode-param-name="shape"],
div[data-vc-shortcode="vc_tta_accordion"] div[data-vc-shortcode-param-name="color"],
div[data-vc-shortcode="vc_tta_accordion"] div[data-vc-shortcode-param-name="no_fill"],
div[data-vc-shortcode="vc_tta_accordion"] div[data-vc-shortcode-param-name="spacing"],
div[data-vc-shortcode="vc_tta_accordion"] div[data-vc-shortcode-param-name="gap"],
div[data-vc-shortcode="vc_tta_accordion"] div[data-vc-shortcode-param-name="tab_position"],
div[data-vc-shortcode="vc_tta_accordion"] div[data-vc-shortcode-param-name="c_align"],
div[data-vc-shortcode="vc_tta_accordion"] div[data-vc-shortcode-param-name="autoplay"],
div[data-vc-shortcode="vc_tta_accordion"] div[data-vc-shortcode-param-name="collapsible_all"],
div[data-vc-shortcode="vc_tta_accordion"] div[data-vc-shortcode-param-name="c_icon"],
div[data-vc-shortcode="vc_tta_accordion"] div[data-vc-shortcode-param-name="c_position"],
div[data-vc-shortcode="vc_tta_accordion"] div[data-vc-shortcode-param-name="active_section"] {
  display: none;
}

#customize-preview.wp-full-overlay-main.iframe-ready {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
