/* Boostrap 3 Mobile Menu  */
@media (max-width: 991px) {
	.nav .sub-menu,
	.nav .children {
		display: none;
		opacity: 1;
	    margin-top: 0;
	}
	.content-block > [class*="container"] > .row-fluid > .col-md-12 {
		float: none!important;
	}
    .navbar-header {
        float: none;
    }
    .navbar-inner {
    	padding: 5px!important;
    }
    .navbar-toggle {
        display: block;
        padding: 0;
    }
    .navbar-collapse {
        border-top: none;
        max-height: inherit;
    }
    .navbar {
    	position: relative!important;
    	margin: 0!important;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: visible!important;
    }
    .nav > li {
    	display: block;
    }
    .nav > li > a {
    	padding: 0px 0!important;
    }
   	.navbar .brand {
    	float: none;
    	clear: both;
    }
    .navbar-toggle-container {
    	clear: both;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    	border: none;
    }
    .navbar .nav {
    	float: none;
    	margin-top: 20px;
    }
    .nav .sub-menu {
    	margin-bottom: 10px;
    }
}
@media (max-width: 1024px) {
	.content-block, 
	.fullwidth-section.parallax,
	.parallax,
	.fullwidth-section {
		background-attachment: scroll!important;
		background-position: center top!important;
	}
	
	.page-item-title {
		height: auto!important;
	}
	.left {
		left: 0!important;
	}
	.right {
		right: 0!important;
	}
	.bottom {
		bottom: 0!important;
	}
	.twitter-item.flexslider {
	    margin-left: 0;
	}
	.products-slider {
		width: 717px!important;
		margin: 0 auto!important;
		float: none!important;
	}
	.members-list,
	.latest-posts-list {
		width: 600px;
	}
	.contact-page .wpcf7-submit {
	    margin-top: 30px;
	}
}
@media (max-width: 979px)  {
	.contact-page .col-md-6,
	.contact-page .col-md-12 {
	    margin-left: 0;
	}
	.comments-area input[type="text"] {
	    width: 100%;
	}
	.nav .sub-menu,
	.nav .children {
		position: relative;
	}
	.nav .sub-menu li .sub-menu, 
	.nav .children li .children {
		right: -10%;
		margin-top: 0;
	}
	.nav .sub-menu li a, 
	.nav .children li a {
		padding-left: 0;
	}
	.nav .sub-menu li a:hover, 
	.nav .children li a:hover {
		background: none!important;
	}
	.nav .sub-menu li:first-child a, 
	.nav .children li:first-child a {
		border-top: none;
	}
	.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
		width: 48%;
	}
	.shop-content {
		padding: 15px;
	}
	.navbar .nav > .active > a, .navbar .nav > li > a:hover, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
		background: none!important;
	}
	.portfolio-item-block {
		width: 33.3%!important;
	}
	.portfolio-list {
		text-align: center;
	}
	.members-list,
	.latest-posts-list {
		width: 600px;
	}
	.members-list .flex-direction-nav .flex-prev,
	.latest-posts-list .flex-direction-nav .flex-prev{
    	left: 10px;
	}
	.members-list .flex-direction-nav .flex-next,
	.latest-posts-list .flex-direction-nav .flex-next{
	    right: 10px;
	}
	#sidebar > li {
	    width: 50%;
	}
}

/*
*	@media (max-width: 979px) and (min-width: 768px)
*/
@media (min-width: 768px) and (max-width: 979px)  {
	.blog-post .post-content {
	    margin-left: 30px;
	}
	blockquote {
		margin: 0;
	}
}
/*
*	@media (max-width: 767px)
*/
@media (max-width: 767px)  {
	.fullwidth-section {
	    padding-bottom: 30px!important;
	    padding-top: 30px!important;
	}
	.loop-item-nav a {
		margin-left: 10px;
		margin-right: 10px;
	}
	.portfolio-item-data {
		padding: 0 10px;
	}
	.portfolio-items-categories {
		margin-left: 10px;
	}
	.loop-item-nav .col-md-6 {
		width: 50%;
		float: left;
	}
	.page-item-title.container-fluid {
		margin-top: 20px;
	}
	.products-slider {
		width: 478px!important;
		margin: 0 auto!important;
		float: none!important;
	}
	.author-bio {
		padding: 10px;
	}
	.author-image {
		display: none!important;
	}
	.main-sidebar,
	.navigation-paging {
		padding: 0 10px;
	}
	.content-block.blog-post {
		padding: 30px 10px;
		margin-top: 0;
	}
	.blog-post .post-header-title {
		text-align: center;
	}
	.blog-post .post-content {
	    margin-left: 0;
	}
	.blog-post .post-date-wrapper {
		margin: 0 auto;
    	width: 72px;
    	margin-bottom: 20px;
    	float: none;
	}
	.blog-post .post-content-wrapper {
		width: 100%;
		float: none;
	}
	
	.page-header-title {
		padding: 26px 5px 20px;
	}
	body {
		padding-left: 0;
		padding-right: 0;
	}
	.page-header {
		font-size: 30px;
		padding-bottom: 23px;
	}
	.header-title {
		top: 50%;
		margin-top: -100px;
	}
	.page-header {
		font-size: 10px;
	}
	.page-content-block {
		text-align: left;
	}
	.about .row .col-md-6:first-child {
		margin-bottom: 20px;
	}
	.content-block {
		padding: 70px 0;
	}
	.content-block.revolution-slider {
		padding: 0;
		margin-top: 30px;
	}
	#navbar + .content-block {
		padding-top: 30px;
	}

	.contact-page .col-md-4 {
		margin-top: 30px
	}
	.contact-page input.col-md-6,
	.contact-page textarea.col-md-6,
	.contact-page .uneditable-input.col-md-6 {
		margin-left: auto;
		margin-right: auto;
	}
	
	.content-block,
	.comments-area {
		padding-left: 10px;
		padding-right: 10px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.members-list,
	.latest-posts-list {
		width: 300px;
	}
	footer .footer-social {
		float: none;
		margin-left: 10px;
	}
	footer .copyright {
		margin-left: 10px;
	}
}

/*
*	@media (max-width: 568px)
*/
@media (max-width: 568px)  {
	.page-404 {
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.products-slider {
		width: 239px!important;
		margin: 0 auto!important;
		float: none!important;
	}
	header .skip-intro {
		width: 24px;
		margin-left: -14px;
		height: 40px;
		margin-bottom: 20px;
	}
	header .skip-intro .floater {
		animation: none!important;
		-webkit-animation: none!important;
	}
}

/*
*	@media (max-width: 480px)
*/
@media (max-width: 480px)  {
	
	.blog-post .post-info {
		line-height: 1.7em;
	}
	.comment-meta .reply {
		float: none;
		display: table;
		margin: 0 auto;
	}
	#sidebar .widgettitle {
		margin-right: 0;
	}
	.page-header  {
		line-height: 1;
		font-size: 20px;
		padding-bottom: 10px;
	}

	input.col-md-6,
	textarea.col-md-6,
	.uneditable-input.col-md-6 {
		width: 100%;
	}
	#sidebar > li {
	    width: 100%;
	}
	
	.portfolio-item-block {
		width: 50%!important;
	}
	.tp-caption .slide-button {
	    display: block;
		margin: 10px auto;
	    font-size: 12px;
	    float: none;
	    margin-left: 0;
	}
	.tp-caption .slide-header {
		font-size: 20px;
		margin-top: -100px;
	}
	.tp-caption .slide-header h1 {
	    font-size: 30px;
	}
}

/*
*	@media (max-width: 400px)
*/
@media (max-width: 400px)  {

	.page-item-title h1 {
		font-size: 16px;
	}
	.page-header-title {
		padding: 26px 5px 20px;
	}
	.content-block {
		padding: 50px 10px;
	}
	#navbar + .content-block {
		padding-top: 20px;
	}
	.portfolio-item-block {
		width: 100%!important;
	}

}

/*
*	@media (max-width: 380px)
*/
@media (max-width: 380px)  {

}

/*
*	@media (max-width: 240px)
*/
@media (max-width: 240px)  {

	.portfolio-item-block {
		width: 210px;
		height: 250px;
	}
	.navbar .btn-navbar .title {
		display: none;
	}
}