/*
Theme Name: Fencer 2
Theme URI: http://themeforest.net/item/fencer-one-page-multipurpose-parallax-theme/7092879
Author: dedalx
Author URI: http://themeforest.net/user/dedalx
Description: Fencer 2 - Onepage/MultiPage Parallax Responsive WordPress Theme
Version: 2.1.4
License: GNU General Public License
License URI: license.txt
Tags: light, white, one-column, fluid-layout, fixed-layout, responsive-layout, custom-colors, custom-menu, featured-images, post-formats, theme-options

 FENCER is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.

*/

/** 
* Common Theme styles, tags restyle
*/
a:focus {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style:none;
    outline: 0;
}

html, body {
    font-family: Arial, sans-serif;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    color: #080808;
    margin-top: 0!important;
}
body {
    background: #f1f3f4;
}
a {
    color: #26cdb3;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
a:hover, a:focus {
    color: #26cdb3;
}
a:focus {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
ul.slides {
    margin: 0;
}
textarea {
    resize: none;
    height: 150px;
    padding: 20px;
    margin-bottom: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
textarea,
input {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    color: #080808;
    background: #fff;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
textarea:focus,
input:focus
{
    background: #ffffff;
    box-shadow: 0 0 10px rgba(20, 160, 220, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(20, 160, 220, 0.5);
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    box-shadow: 0 0 10px rgba(225, 20, 50, 0.75);
    -webkit-box-shadow: 0 0 10px rgba(225, 20, 50, 0.75);
    color: #aaaaaa;
}
input:-moz-placeholder,
textarea:-moz-placeholder  {
  color: #aaaaaa;
  font-size: 18px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder  {
  color: #aaaaaa;
  font-size: 18px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder  {
  color: #aaaaaa;
  font-size: 18px;
}
.color input:-moz-placeholder,
.color textarea:-moz-placeholder  {
  color: #aaaaaa;
}

.color input:-ms-input-placeholder,
.color textarea:-ms-input-placeholder  {
  color: #aaaaaa;
}

.color input::-webkit-input-placeholder,
.color textarea::-webkit-input-placeholder  {
  color: #aaaaaa;
}
.color textarea,
.color input
{
    background: #ffffff;
    color: #aaaaaa;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    font-weight: 300;
    height: 35px;
    padding: 7px 10px;
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input.span6,
textarea.span6,
.uneditable-input.span6 {
    width: 462px;
}
.page-content-block {
    line-height: 36px;
    font-size: 20px;
}
.content-block {
    padding: 60px 0;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    clear: both;
    transition: all 150ms ease-in-out 0s;
    -webkit-transition: all 150ms ease-in-out 0s;
}
.content-block.parallax {
    transition: none;
    -webkit-transition: none;
}
#navbar + .content-block {
    background: inherit;
    color: inherit;
}
.content-block.invert {
    background-color: #1d262a;
    color:#fff;
}
.content-block.invert p {
    color: #aab6bb;
    font-weight: 300;
}
.content-block.invert .wpb_row {
    color: #aab6bb;
}
.content-block .wpb_row h1 {
    line-height: 1em;
    margin-top: 0;
}
.content-block.invert .wpb_row h1 {
    color:#fff;
}
.content-block.invert .wpb_row h2 {
    color:#fff;
}
.content-block.homepage {
    padding: 0;
}
.page-header-title {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin: 0 auto 10px;
    padding: 10px;
}
.page-header-title a:hover {
    color: #26cdb3;
}
a.btn,
.btn,
.btn:focus, 
input[type="submit"] {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    text-align: left;
    text-shadow: none;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    background: #26cdb3;
    border: none;
    border-radius: 0;
    filter: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: all .6s;
    -webkit-transition: all .6s;
    text-align: center;
    font-weight: 500;
}
.btn:hover, input[type="submit"]:hover {
    background: #fff;
    color: #000;
    transition: all .6s;
    -webkit-transition: all .6s;
}
input[type="submit"]:hover {
    background: #000;
    color: #fff;
}
.btn:active {
    background: #4cb8e5;
    color: #ffffff;
    box-shadow: none;
    -webkit-box-shadow: none;
}
a.btn i {
    margin-left:50px;   
}
.btn-primary,
.btn-primary:focus {
    color: #ffffff;
    background: #26CDB3;
}
.btn-primary:hover {
    background: #fff;
}
.btn-primary:active {
    background: #4fbae8;
}
noindex:-o-prefocus,.bottom  {
    bottom: 0;
}

/**
*   Revolution Slider
*/
.tp-caption .slide-header {
    margin-bottom: 70px;
    text-align:center;
    color: #fff;
    font-size: 20px;
}
.tp-caption .slide-header h1 {
    text-align:center;
    color: #fff;
    text-transform: uppercase;
    font-size: 72px;
    letter-spacing: 7px;
    font-weight: bold;
    line-height: 1em;
}
.tp-caption .slide-buttons {
    margin: 0 auto;
    display: table;
}
.tp-caption .slide-button {
    display: block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid #fff;
    padding: 25px 40px;
    margin: 0 auto;
    max-width: 250px;
    min-width: 150px;
    cursor: pointer;
    float: left;
    margin-left: -1px;
}
.tp-caption .slide-button:hover {
    text-decoration: none;  
    background-color: #fff;
    color: #000;
}
.tp-caption .slide-button {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    position: relative;
    z-index: 50;
}
.tp-caption .slide-button:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    z-index: 100;
}
/* Flexslider nav icons override */
.porftolio-slider.flexslider,
.container .flexslider {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.flex-direction-nav a {
    text-align: center!important;
}
.flex-direction-nav a {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.6s;
    -webkit-transition: 0.6s;
}
.flex-direction-nav a:hover {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.flex-direction-nav a:before {
    font-size: 37px!important;
    display: inline-block!important;
    text-shadow: none!important;
    font-family: "FontAwesome"!important;
    text-indent: 0;
}

/** 
* Top menu
*/
.navbar {
    z-index: 10000;
    width: 100%;
    border: 0;
    min-height: 40px;
}
.navbar-inner {
    background-color: #000;
    background-image: none;
    padding: 0;
    border: none;
    border-radius: 0;
    filter: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-top: 25px;
    padding-bottom: 15px;
}
.nav > li {
    display: inline-block;
}
.navbar-collapse {
    display: inline-block;
    border: 0;
}
.navbar .brand {
    margin: 0;
    padding: 0;
    float: left;
}
.navbar .nav ul {
    list-style: none;
}
.navbar .nav > .active > a, 
.navbar .nav > li > a:hover, 
.navbar .nav > .active > a:hover {
    color:#fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: none;
}
.navbar .nav > li > a:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    background: none;
}
.navbar .nav > li > a {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 6px 15px;
    color: #717171;
    margin-right: 5px;
    border-bottom: none;
    transition: all .6s;
    -webkit-transition: all .6s;
    text-shadow: none;
    -webkit-font-smoothing: subpixel-antialiased;
}
.navbar .nav > li:last-child > a {
    margin-right: 0;
}
.navbar .nav {
    display: inline-block;
    float: right;
    margin: 0;
    overflow: visible;
}
.nav-collapse.collapse {
    text-align: center;
}
.navbar-default {
    background: transparent;
}
.navbar-default .navbar-toggle {
    color: #fff;
    font-weight: 500;
    text-shadow: none;
    background: transparent;
    border: none;
    filter: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
.navbar-default .navbar-toggle .pull-left {
    margin-right: 10px;
    margin-top: 1px;
}
.navbar-default .navbar-toggle .icon-bar {
    width: 20px;
    height: 3px;
    background-color: #26cdb3;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.navbar-default .navbar-toggle:hover {
    color: #26cdb3;
    background: transparent;
}
.nav .sub-menu,
.nav .children {
    display: block;
    position: absolute;
    margin: 0;
    text-align: left;
    opacity: 0;
    margin-top: 15px;
    transition: all .3s;
    -webkit-transition: all .3s;
    transform: matrix(0, 0, 0, 0, 0, 0);
    -ms-transform: matrix(0, 0, 0, 0, 0, 0);
    -webkit-transform: matrix(0, 0, 0, 0, 0, 0);
}
.nav li:hover > .sub-menu,
.nav li:hover > .children {
    display: block;
    opacity: 1;
    margin-top: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
}
.nav .sub-menu li,
.nav .children li {
    display: block;
}
.nav .sub-menu li:first-child a,
.nav .children li:first-child a {
    border-top: 3px solid #26cdb3;
}
.nav .sub-menu li a,
.nav .children li a {
    font-size: 13px;
    text-transform: uppercase;
    min-width: 80px;
    padding: 6px 15px;
    display: block;
    background: #000000;
    color: #fff;
    width: 200px;
    text-transform: none;
}
.nav .sub-menu li a:hover,
.nav .children li a:hover {
    text-decoration: none;
    background: #26cdb3;
    color: #fff;
}
.nav .sub-menu li .sub-menu,
.nav .children li .children{
    margin-top: -32px;
    right: -100%;
}
/** 
* Theme header
*/
header.content-block {
    padding: 0;
}
header.no-home {
    margin: 0;
}
.skip-intro {
    display: block;
    z-index: 66;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -24px;
    height: 80px;
    width: 48px;
    margin-bottom: 20px;
    text-decoration:none;
    text-align:center;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    border-color: rgba(255, 255, 255, 0.7);
}
.skip-intro:hover {
    border-color: rgba(255, 255, 255, 1.0);
}
@keyframes animate-skipintro {

  0% {
    top: 0px;
  }
  20% {
    top: 0px;
  }
  40% {
    top: 35px;
  }
  60% {
    top: 35px;
  }
  80% {
    top: 0px;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes animate-skipintro {

  0% {
    top: 0px;
  }
  20% {
    top: 0px;
  }
  40% {
    top: 35px;
  }
  60% {
    top: 35px;
  }
  80% {
    top: 0px;
  }
  100% {
    top: 0px;
  }
}

.skip-intro .floater {
    width: 4px;
    height: 17px;
    background: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    border-radius: 2px;
    -webkit-border-radius: 2px; 
    margin-top: 14px;
}
.skip-intro .floater {
    top: 0;
    position: relative;
    animation: animate-skipintro 4s infinite ease normal;
    -webkit-animation: animate-skipintro 4s infinite ease normal;;
    transition: all .4s;
     -webkit-transition: all .4s;
}
.skip-intro:hover .floater {
    background: rgba(255, 255, 255, 1.0);
    top: 35px;
    animation: none;
    -webkit-animation: none;
}

/** 
* About us page
*/
.content-block .wpb_row {
    font-weight: 300;
}
.content-block .wpb_row .promo-image {
    margin: 20px 10px;
}
.content-block .wpb_row {
    color: #5e636c;
    line-height: 30px;
}
.content-block .wpb_row h3 {
    color: #2cbca6;
    font-size: 18px;
    margin-bottom: 0;
}
.content-block .wpb_row h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
}
/** 
* Counters block
*/
.counter-item {
    text-align: center;
}
.counter-item .counter-number {
    font-size: 72px;
    font-weight: bold;
    color: #fff;
    display: block;
    margin-bottom: 20px;
}
.counter-item .counter-text {
    color: #888d92;
    font-size: 20px;
}
.counter-item img {
    margin-bottom: 35px;
}
/** 
* Services
*/
.content-block.services .service-icon {
    margin-top: 20px;
}
.content-block.services .wpb_row h3 {
    color: #000;
    font-size: 16px;
}
.content-block.services p {
    color: #5e636c;
}

/** 
* Members
*/
.members-list {
    display: table;
    margin: 0 auto 40px auto!important;
    width: 900px;
}
.members-item {
    height: 530px;
    position: relative;
    overflow: visible;
    margin-top: 30px;
    padding-bottom: 35px;
    border: 1px solid #3a484e;
    text-align: center;
    width: 300px;
}
.members-item .image {
    margin-top: 30px;
    background: url("img/members-item-image-bg.png");
    background-size: 194px 194px;
    background-position: center center;
    background-repeat: no-repeat;
}
.members-item .image {
    transform: rotateY(0);
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.6s;
    -webkit-transition: 0.6s;
}
.members-item:hover .image {
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.members-item .image img {
    margin: 25px 0;
    border: 7px solid #fff;
    width: 149px;
    height: 149px;
    border-radius: 100px;
}
.members-item.span4 {
    margin-left: 0;
}
.members-item .title {
    padding-top: 18px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}
.members-item .sub-title {
    display: block;
    padding-top: 5px;
    font-size: 12px;
}
.members-item .description {
    line-height: 1.8em;
    width: 240px;
    margin: 30px auto;
    max-height: 100px;
    overflow: hidden;
}
.members-item .social {
    display: table;
    margin: 0 auto;
}
.members-item .social a {
    display: block;
    background: #182023;
    width: 32px;
    height: 30px;
    padding-top: 6px;
    border-radius: 3px;
}
.members-item .social a:hover {
    background: #26cdb3;
    color: #fff;
}
.members-item a {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.members-item a:hover {
    transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
}
.members-item .social li {
    display: table-cell;
    float: left;
    margin: 0 5px;
}
.members-item .social a:hover i {
    text-decoration: none;
}
.members-list .flex-direction-nav a {
    background: none;
    opacity: 1!important;
    filter:alpha(opacity=100)!important;
    border: 1px solid #3a4448;
    width: 42px;
    height: 42px;
    color: #26cdb3;
}
.members-list .flex-direction-nav a:hover {
    background: #26cdb3;
    color: #fff;
}
.members-list .flex-direction-nav .flex-prev {
    left: -80px;
}
.members-list .flex-direction-nav .flex-next {
    right: -80px;
}
.members-list .flex-direction-nav a.flex-prev:before { 
    content: '';
}
.members-list .flex-direction-nav a.flex-next:before { 
    content: '';
}
/**
* Latest posts
*/
.latest-posts-list {
    display: table;
    margin: 0 auto 40px auto!important;
    width: 900px;
}
.latest-posts-list .post-item {
    height: 520px;
    position: relative;
    overflow: visible;
    margin-top: 30px;
    border: 1px solid #e8e9e9;
    background: #fff;
    width: 300px;
    float: left;
}
.latest-posts-list .post-item .image {
    margin: 20px 20px 30px;
    text-align: center;
}
.latest-posts-list .post-item.span4 {
    margin-left: 0;
}
.latest-posts-list .post-item .title {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin: 20px 20px 0;
}
.latest-posts-list .post-item .date {
    font-size: 13px;
    font-weight: 300;
    color: #26cdb3;
    margin: 5px 20px 0;
}
.latest-posts-list .post-item .description {
    line-height: 1.8em;
    margin: 10px 20px 20px;
    color: #5e636c;
    font-weight: 300;
    overflow: hidden;
}
.latest-posts-list .flex-direction-nav a {
    background: none;
    opacity: 1!important;
    filter:alpha(opacity=100)!important;
    border: 1px solid #26cdb3;
    width: 42px;
    height: 42px;
    color: #26cdb3;
}
.latest-posts-list .flex-direction-nav a:hover {
    background: #26cdb3;
    color: #fff;
}
.latest-posts-list .flex-direction-nav .flex-prev {
    left: -80px;
}
.latest-posts-list .flex-direction-nav .flex-next {
    right: -80px;
}
.latest-posts-list .flex-direction-nav a.flex-prev:before { 
    content: '';
}
.latest-posts-list .flex-direction-nav a.flex-next:before { 
    content: '';
}
/** 
* Portfolio
*/
.portfolio-list {
    overflow: visible;
}
.portfolio-list .mix{
    opacity: 0;
    display: none;
}
.portfolio-filter {
    margin: 20px 0 45px 0;
}
.portfolio-filter a {
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}
.portfolio-filter a {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    position: relative;
    z-index: 50;
}
.portfolio-filter a:hover {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    z-index: 100;
}
.portfolio-filter a.view-all {
    background: #F1F3F4;
}
.portfolio-filter a:hover, 
.portfolio-filter a.active {
    background-color: #26cdb3;
    color: #fff;
    text-decoration: none;
}
.portfolio-item-block {
    background: #ffffff;
    width: 25%;
    float: left;
}
.portfolio-item-block:hover {
    background: #313a3d;

}
.portfolio-item-block:hover:before {
    font-family: "FontAwesome";
    font-size: 70px;
    color: #fff;
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -35px;
    margin-top: -35px;
}
.portfolio-item-block {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    position: relative;
    z-index: 50;
}
.portfolio-item-block:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    z-index: 100;
}

.portfolio-item-block:hover .title,
.portfolio-item-block:hover .sub-title {
    color: #fff;
}
.portfolio-item-block .info img {
    width: 100%;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
.portfolio-item-block:hover .info img {
    opacity:0.7;
}
.portfolio-item-block .info {
    cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
}
.portfolio-item-block .title {
    padding-top: 18px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 5px;
    padding-top: 20px;
}
.portfolio-item-block .sub-title {
    display: block;
    font-weight: 300;
    margin-top: 4px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 5px;
}
.portfolio-more-button {
    margin: 0 auto;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
    background-color: #26CDB3;
    color: #FFFFFF;
    text-decoration: none;
}
/* 
* Email us block
*/
.email-us-block h1 {
    font-size: 30px; font-weight: 500; color: #fff;
    margin: 3px 0 0 0;
}
.email-us-block .wpb_row {
    margin-bottom: 0;
}
.email-us-block .wpb_button {
    margin-bottom: 0;
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
    width: 160px;
    background-color: #3273b0;
}
/*
* Pricing tables
**/
.pricing-table {
    margin-top: 20px;
}
.pricing-table > .wpb_wrapper > .wpb_row:not(.price-table-head) {
    margin: 0;
    background: #fff;
}
.pricing-table .price-table-head {
    margin: 0;
    background: #26cdb3;
    color: #fff;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-bottom: 0;
}
.pricing-table .price-table-head p {
    font-size: 12px;
    line-height: 8px;
    margin-top: 15px;
}
.pricing-table .price-table-head h1,
.pricing-table .price-table-head p {
    margin-bottom: 0;
}
.pricing-table .price-table-head h2 {
    margin-top: 0;
}
.pricing-table .wpb_row:nth-child(odd):not(.price-table-head) {
    background: #f6f9fa;
}
.pricing-table .wpb_row:not(.price-table-head) {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0;
}
.pricing-table .wpb_row:last-child {
    padding-bottom: 30px;
}
.pricing-table .wpb_button {
    margin-bottom: 0;
    font-weight: 500;
    padding: 15px 30px;
    margin: 20px 0;
    border: 2px solid #000;
    background: #fff;
    color: #000;
}
.pricing-table .wpb_button:hover {
    background: #26cdb3;
    color: #fff;
    border-color: #26cdb3;
}
/*
* Our clients
*/
.clients-page img {
    opacity: 0.7;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
.clients-page img:hover {
    opacity: 1;
}
/*
*   Contact us
*/
.contact-page .vc_separator .vc_sep_holder .vc_sep_line {
    border:0;
}
.contact-page .wpcf7-form-control-wrap {
    display: block!important;
}
.contact-page input {
    border-radius: 0;
}
.contact-page input[type="text"], 
.contact-page input[type="email"],
.contact-page textarea {
    font-size: 18px!important;
}
.contact-page input[type="text"], 
.contact-page input[type="email"] {
    margin-bottom: 20px!important;
    padding: 10px 20px;
    width: 100%;
    height: auto;
}
.contact-page textarea {
    height: 196px;
    font-weight: 300;
    width: 100%;
}
.contact-page .btn:hover {
    background: #fff;
    color: #000;
}
.contact-page p {
    line-height: 1.4em;
}
.contact-page .row br {
    display: none;
}
div.wpcf7-response-output {
    margin: 0;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    background-color: #DFF0D8;
    border: none;
    color: #333;
}
.contact-page .wpb_separator, .vc_text_separator {
    border:none;
}
.contact-page .wpcf7-form {
    margin-bottom: 0;
}
.contact-page.content-block {
    padding-bottom: 25px;
}
/*
* Collapsible Page
*/
.collapsible-page .wpb_row {
    margin-bottom: 0;
}
.collapsible-page p {
    margin-bottom: -10px!important;
}
.collapsible-page.content-block {
    padding: 10px 0 0;
}
.collapsible-page .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header {
    text-align: center;
    background: transparent;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
.collapsible-page .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a {
    color: #fff;
    padding-bottom: 20px;
}
.collapsible-page .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header:hover a {
    color: #26cdb3;
}
.collapsible-page .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header:hover .ui-icon {
    color: #26cdb3;
}
.collapsible-page .wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon, 
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
    background-image: none;
    top: 10px;
    right: 10px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    color: #fff;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
.collapsible-page .wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon:before,
.collapsible-page .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon:before { 
    font-family: "FontAwesome"; 
    font-size: 40px; 
    content: '';
}
.collapsible-page .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
    background-image: none;
}
.collapsible-page .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon:before {
    font-family: "FontAwesome"; 
    font-size: 40px; 
    content: ''; 
}
.collapsible-page .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content {
    padding: 0;
}
.collapsible-page .wpb_gmaps_widget .wpb_map_wraper {
    padding: 0;
}
/*
*   Portfolio item page
*/
.loop-item-nav #nav-below {
    margin: 0;
}
.loop-item-nav .nav-text {
    display: none;
}
.loop-item-nav {
    position: relative;
    top: -70px;
}
.loop-item-nav.blog-item-nav {
    top: 0;
    margin-top: -70px;
    margin-bottom: 28px;
}
.loop-item-nav a {
    border: 1px solid #d2d5d6;
    width: 42px;
    height: 42px;
    color: #26cdb3;
    display: inline-block;
    text-align: left;
}
.loop-item-nav a:hover {
    border: 1px solid #26cdb3;
    text-decoration: none;
}
.loop-item-nav .nav-previous a:before {
    font-family: "FontAwesome"; 
    font-size: 37px; 
    display: block; 
    content: '';
    text-align: center;
}
.loop-item-nav .nav-next a:before {
    font-family: "FontAwesome"; 
    font-size: 37px; 
    display: block; 
    content: '';
    text-align: center;
}
.porftolio-slider .flex-direction-nav a {
    opacity: 1;
    filter:alpha(opacity=100); 
    background: none;
    width: 42px;
    height: 42px;
}
.porftolio-slider .slides li {
    text-align: center;
}
.porftolio-slider img {
    width: 100%;
}
.porftolio-slider .flex-direction-nav a:hover {
    color: #fff;
}
.porftolio-slider .flex-direction-nav .flex-prev {
    left: 20px;
}
.porftolio-slider .flex-direction-nav .flex-next {
    right: 20px;
}
.porftolio-slider .flex-direction-nav .flex-prev:before {
    content: '';
}
.porftolio-slider .flex-direction-nav .flex-next:before {
    content: '';
}
.porftolio-slider.flexslider {
    margin: 0;
}
.portfolio-item-image {
    margin-bottom: 30px;
}
.portfolio-items-categories {
    margin-bottom: 40px;
}
.portfolio-items-categories a {
    display: inline-block;
    background: #26cdb3;
    padding: 7px 15px;
    color: #fff;
    font-size: 13px;
    margin-bottom: 3px;
}
.portfolio-items-categories a:hover {
    text-decoration: none;
    background: #fff;
    color: #26cdb3;
}
.portfolio-item-data {
    color: #5e636c;
    font-weight: 300;
    line-height: 26px;
} 
.portfolio-item-data .project-description-title {
    font-size: 18px;
    color: #000;
    font-weight: 300;
    margin-top: 0;
}
.portfolio-item-data .project-client {
    margin-bottom: 30px;
}
.portfolio-item-data .project-client span {
    color: #000;
}
.related-works {
    background: #fff;
}
/* Post social share */
.post-social {
    margin-bottom: 10px;
}
.post-content-wrapper .post-social {
    margin-top: 20px;
    margin-bottom: 0;
}
.post-social a {
    margin-right: 15px;
    font-size: 16px;
    border-right: 1px solid #dce1e3;
    padding-right: 15px;
}
.post-social a:last-child {
    border-right: none;
}
.post-social a:hover {
    text-decoration: none;
    color: #26cdb3;
}
.post-social i {
    margin-right: 5px;
}
.post-social .facebook-share {
    color: #338cd0;
}
.post-social .twitter-share {
    color: #34c0d5;
}
.post-social .pinterest-share {
    color: #e61743;
}
/* 
* Blog post
*/
.blog-post {
    border-bottom: 1px solid #d9d9d9;
    padding: 20px 0 30px;
    margin: 20px 0;
}
.blog-post .post-date-wrapper {
    float: left;
    width: 10%;
}
.blog-post .post-content-wrapper {
    float: left;
    width: 90%;
}
.blog-post-single .post-content-wrapper {
    width: 100%;
    float: none;
}
.blog-post-single .post-info {
    line-height: 1em;
}
.blog-post.blog-post-single .post-content {
    margin-left: 0;
}
.blog-post .tags {
    font-size: 12px;
    color: #000;
}
.blog-post .post-date {
    color: #fff;
    background: #26cdb3;
    width: 72px;
    height: 72px;
    border-radius: 35px;
    text-align: center;
}
.blog-post .post-date .day {
    font-size: 30px;
    display: block;
    padding-top: 10px;
}
.blog-post .post-date .month {
    font-size: 14px;
    text-transform: uppercase;
    display: block;
}
.blog-post .post-content {
    margin-left: 20px;
    color: #5E636C;
    font-weight: 300;
    line-height: 25px;
}
.blog-post .post-format {
    background: #26cdb3;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 16px;
}
.blog-post .post-format:before {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 19px;
}
.blog-post .format-standard .post-format:before {
    content: "";
}
.blog-post .type-page .post-format:before {
    content: "";
}
.blog-post .format-aside .post-format:before {
    content: "";
}
.blog-post .format-image .post-format:before {
    content: "";
}
.blog-post .format-gallery .post-format:before {
    content: "";
}
.blog-post .format-quote .post-format:before {
    content: "";
}
.blog-post .format-video .post-format:before {
    content: "";
}
.blog-post .format-audio .post-format:before {
    content: "";
}
.blog-post .format-link .post-format:before {
    content: "";
}
.blog-post .format-status .post-format:before {
    content: "";
}
.blog-post .format-chat .post-format:before {
    content: "";
}
.blog-post .format-status .entry-content,
.blog-post .format-status .entry-summary {
    background: #fff;
    padding: 20px;
    display: block;
}
.blog-post .format-status .post-header-title,
.blog-post .format-status .post-info {
    display: none;
}
.blog-post .format-aside .post-header-title {
    display: none;
}
.blog-post .format-quote blockquote {
    border: none;
    background: #26cdb3;
    color: #fff;
    padding: 20px;
    font-size: 20px;
}
.blog-post .format-link .entry-content a,
.blog-post .format-link .entry-summary a {
    background: #fff;
    padding: 20px;
    display: block;
}
.blog-post .post-header-title {
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 15px;
}
.blog-post .post-header-title a {
    color: #000;
    font-size: 22px;
    font-weight: 500;
}
.blog-post .post-info {
    margin-bottom: 20px;
    font-size: 13px;
}
.blog-post .post-info span {
    margin-right: 10px;
    margin-left: 10px;
}
.blog-post .post-info span:first-child {
    margin-left: 0;
}
.blog-post .blog-post-thumb {
    margin-bottom: 25px;
}
.attachment-blogpost.wp-post-image,
.attachment-post-thumbnail.wp-post-image {
    width: 100%;
    height: auto;
}
.author-bio {
    margin-top: 15px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 15px 0;
    background: #fff;
}
.author-bio .author-title {
    font-size: 16px;
}
.author-bio .author-description {
    font-weight: 300;
     padding-right: 15px;
    font-size: 13px;
    color: #5E636C;
}
.author-bio .author-image {
    padding-left: 10px;
}

/*
*   Twitter block
*/
.content-block.twitter {
    background: #26baf1;
    color: #fff;
    font-weight: 300;
    padding: 30px 0;
    min-height: 150px;
}
.content-block.twitter .twitter-item .tweet_list a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
}
.twitter-item {
    position: relative;
    line-height: normal;
    margin: 0!important;
}
.twitter-item.flexslider {
    background: none;
    border:none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0;
    margin-left: 30px;
}
.twitter-item.flexslider .flex-direction-nav a {
    background: none;
    color: #fff;
}
.twitter-item.flexslider .flex-direction-nav .flex-prev:before {
    content: '';
}
.twitter-item.flexslider .flex-direction-nav .flex-next:before {
    content: '';
}
.twitter-item p {
    font-size: 16px;
    line-height: 36px;
}
.twitter-icon {
    text-align: center;
    margin-bottom: 10px;
}
.twitter-icon i {
    color: #fff;
    font-size: 35px;
}
.twitter-item p.twitter-meta {
    margin: 10px auto 0;
    padding-top: 9px;
    border-top: solid 1px #e0e0e0;
    font-size: 14px;
    width: 240px;
}
.twitter-meta a {
    border: none;
}
.twitter-meta .time {
    color: #aaaaaa;
}
.tweet_list {
    margin: 0;
    list-style: none;
}

/*
*   Footer
*/
footer {
    width: 100%;
    background: #fff;
    text-align: left;
    padding-bottom: 10px;
}
footer .copyright {
    margin-bottom: 0;
    color: #787272;
    font-size: 12px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 20px;
}
.footer-social {
    display: table;
    overflow: hidden;
    margin: 25px auto 0;
    float: right;
    overflow: visible;
}
.footer-social i {
    color: #fff;
}
.footer-social a {
    font-size: 15px;
    display: table-cell;
    padding: 5px 0;
    width: 30px;
    font-size:19px;
    background-color: #b4b4b4;
    border-radius: 4px;
    text-align: center;
}
.footer-social a:hover {
    text-decoration: none;
    background-color: #26cdb3;
}
.footer-social a {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    position: relative;
    z-index: 50;
}
.footer-social a:hover {
    transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    z-index: 100;
}
.footer-social li {
    display: block;
    float: left;
    margin: 0 4px 15px 0;
}
.footer-social li:last-child {
    margin-right: 0;
}
#top-link {
    display: block;
    background: #26cdb3;
    color: #fff;
    bottom: -60px;
    position: fixed;
    right: 30px;
    width: 30px;
    height: 30px;
    z-index: 999;
    border-radius: 4px;
}
#top-link:before {
    font-family: "FontAwesome"; 
    display: inline-block; 
    content: "";
    font-size: 20px;
    margin-left: 8px;
    margin-top: 4px;
}
#top-link:hover {
    background-color: #B4B4B4;
}
#top-link {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
#top-link:hover {
    transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
}
/* Navigation for posts */
.latest-posts-list .flex-direction-nav a {
    background: none;
    opacity: 1!important;
    filter:alpha(opacity=100)!important;
    border: 1px solid #26cdb3;
    width: 42px;
    height: 42px;
    color: #26cdb3;
}
.latest-posts-list .flex-direction-nav a:hover {
    background: #26cdb3;
    color: #fff;
}
.latest-posts-list .flex-direction-nav .flex-prev {
    left: -80px;
}
.latest-posts-list .flex-direction-nav .flex-next {
    right: -80px;
}
/* Navigation for posts */
.navigation-post,
.navigation-paging {
    margin: 30px 0;
}
.navigation-paging .nav-text {
    text-align: center;
    margin-top: 10px;
    color: #A3A3A4;
}
.navigation-paging a {
    border: 1px solid #26cdb3;
    width: 42px;
    height: 42px;
    color: #26cdb3;
    display: block;
    font-size: 0;
}
.navigation-paging a:hover {
    background: #26cdb3;
    color: #fff;
    text-decoration: none;
}
.navigation-paging .nav-previous a:before {
    font-family: "FontAwesome"; 
    font-size: 35px;
    content: '';
    text-align: center;
    display: block;
}
.navigation-paging .nav-next a:before {
    font-family: "FontAwesome"; 
    font-size: 35px;
    content: '';
    text-align: center;
    display: block;
}
.navigation-paging .nav-next a {
    float: right;
}
/* Sidebars */
.sidebar {
    margin-top: 40px;
    font-weight: 300;
    font-size: 13px;
}
.sidebar ul {
    list-style: none;
    margin: 0;
}
.sidebar > ul > li {
    margin-bottom: 40px;
}
.sidebar .widgettitle {
    font-size: 14px;
    color: #a3a3a4;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0;
    line-height: 1em;
    margin-bottom: 25px;
}
.sidebar .widget li {
    padding-bottom:5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dce1e3;
}
.sidebar .widget_search .field {
    padding: 7px 10px;
    height: 35px;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 300;
    margin-bottom: 10px;
}
.sidebar .widget_search .submit {
    display: block;
    margin-bottom: 0;
    text-align: center;
    padding: 7px 20px;
    width: 100%;
    box-sizing: border-box;
}
.sidebar .widget_search form {
    margin-bottom: 0;
}
.sidebar .widget_calendar caption {
    font-weight: 500;
    margin-bottom: 5px;
}
.sidebar .widget_calendar th {
    background: #26cdb3;
    color: #fff;
    text-align: center;
    border: 1px solid #f6f9fa;
}
.sidebar .widget_calendar tbody td {
    background: #fff;
    border: 1px solid #f6f9fa;
}
.sidebar .widget_calendar tbody td a {
    border: 1px solid #26cdb3;
    display: block;
}
.sidebar .widget_calendar tfoot td {
    background: #26cdb3;
}
.sidebar .widget_calendar tfoot td a {
    color: #fff;
    display: block;
}
.sidebar .widget_calendar tbody td.pad,
.sidebar .widget_calendar tfoot td.pad {
    background: #f6f9fa;
}
.footer-sidebar > ul > li {
    float: left;
    width: 25%;
    min-height: 250px;
    margin-bottom: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
}
.content-block .sidebar,
.portfolio-item-details .sidebar {
    margin-top: 0;
}
/* Lightbox plugin styles */
a.pp_expand {
    transition: none;
    -webkit-transition: none;
}
/* WooCommerce Overrides */
.woocommerce ul.products li.product .price del {
    display: inline;
}
.woocommerce .woocommerce-breadcrumb, 
.woocommerce-page .woocommerce-breadcrumb {
    margin-top: -30px;
}
.shop .shop-content {
    margin-top: 40px;
}
.widget_product_search #s {
    width: 100%;
    margin-bottom: 10px;
}
.widget_product_search #searchsubmit {
    display: block;
    margin-bottom: 0;
    padding: 7px 20px;
    text-align: center;
    width: 100%;
}
.widget_product_search label {
    display: none;
}
.widget_shopping_cart .buttons a {
    display: inline-block;
    padding: 9px 12px!important;
}
.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img, 
.woocommerce-page ul.cart_list li img, 
.woocommerce-page ul.product_list_widget li img,
.woocommerce div.product div.images img, 
.woocommerce #content div.product div.images img, 
.woocommerce-page div.product div.images img, 
.woocommerce-page #content div.product div.images img {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.woocommerce span.onsale, 
.woocommerce-page span.onsale {
    background: #26cdb3;
    text-shadow: none;
}
.woocommerce .widget_layered_nav ul li.chosen a, 
.woocommerce-page .widget_layered_nav ul li.chosen a,
.woocommerce .widget_layered_nav_filters ul li a, 
.woocommerce-page .widget_layered_nav_filters ul li a {
    background-color: #26cdb3;
    border-color: #26cdb3;
}
.woocommerce.widget .product-categories li {
    border-bottom: none;
    margin-bottom: 0;
}
.woocommerce.widget .product-categories .children li {
    margin-left: 10px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
    background: #26cdb3;
    border-color: #474747;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.woocommerce #content input.button, 
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce-page #content input.button, 
.woocommerce-page #respond input#submit, 
.woocommerce-page a.button, 
.woocommerce-page button.button, 
.woocommerce-page input.button,
.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart {
    padding: 9px 20px;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    background: #26cdb3;
    border: none;
    box-shadow: none;
    border-radius: 0;
    text-shadow: none!important;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    transition: all .6s;
    -webkit-transition: all .6s;
    text-align: center;
    font-weight: 500;
}
.woocommerce #content input.button.alt, 
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt, 
.woocommerce-page #content input.button.alt, 
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt, 
.woocommerce-page button.button.alt, 
.woocommerce-page input.button.alt {
    background: #000;
}
.woocommerce #content input.button.alt:hover, 
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover, 
.woocommerce-page #content input.button.alt:hover, 
.woocommerce-page #respond input#submit.alt:hover, 
.woocommerce-page a.button.alt:hover, 
.woocommerce-page button.button.alt:hover, 
.woocommerce-page input.button.alt:hover {
    background: #26cdb3;
    text-shadow: none;
}
.woocommerce #content input.button:hover, 
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover, 
.woocommerce-page #respond input#submit:hover, 
.woocommerce-page a.button:hover, 
.woocommerce-page button.button:hover, 
.woocommerce-page input.button:hover {
    background: #000;
}
.woocommerce ul.cart_list li a, 
.woocommerce ul.product_list_widget li a, 
.woocommerce-page ul.cart_list li a, 
.woocommerce-page ul.product_list_widget li a {
    font-weight: 300;
}
.woocommerce-page a.button.add_to_cart_button {
    display: block;
}
.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.woocommerce ul.products li.product a img:hover,
.woocommerce-page ul.products li.product a img:hover,
.woocommerce ul.products li.product a:hover img, 
.woocommerce-page ul.products li.product a:hover img {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.wc-forward a:after, .wc-forward:after {
    content: "";
}
.woocommerce a.added_to_cart, 
.woocommerce-page a.added_to_cart {
    background: #fff;
    color: #000;
    display: block;
}
.woocommerce a.added_to_cart:hover, 
.woocommerce-page a.added_to_cart:hover {
    background: #000;
    color: #fff;
    display: block;
}
.woocommerce h2 {
    font-size: 20px;
}
.woocommerce #coupon_code {
    width: auto;
}
.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals {
    width: 58%;
}
.woocommerce .cart-collaterals .cross-sells, 
.woocommerce-page .cart-collaterals .cross-sells {
    width: 38%;
}
.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:after, 
.woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
    content: "";
}
.woocommerce .woocommerce-error, 
.woocommerce .woocommerce-info, 
.woocommerce .woocommerce-message, 
.woocommerce-page .woocommerce-error, 
.woocommerce-page .woocommerce-info, 
.woocommerce-page .woocommerce-message {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    text-shadow: none;
    border: 1px solid #DCE1E3;
}
.woocommerce #content .quantity .minus, 
.woocommerce #content .quantity .plus, 
.woocommerce .quantity .minus, 
.woocommerce .quantity .plus, 
.woocommerce-page #content .quantity .minus, 
.woocommerce-page #content .quantity .plus, 
.woocommerce-page .quantity .minus, 
.woocommerce-page .quantity .plus {
    box-shadow: none;
    -webkit-box-shadow: none;
    background: #DCE1E3;
}
.woocommerce span.onsale, 
.woocommerce-page span.onsale {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.woocommerce .star-rating {
    color: #26cdb3;
}
.woocommerce #content input.button:active, 
.woocommerce #respond input#submit:active, 
.woocommerce a.button:active, 
.woocommerce button.button:active, 
.woocommerce input.button:active, 
.woocommerce-page #content input.button:active, 
.woocommerce-page #respond input#submit:active, 
.woocommerce-page a.button:active, 
.woocommerce-page button.button:active, 
.woocommerce-page input.button:active {
    top: 0;
}
.woocommerce-pagination {
    margin-bottom: 20px;
}
p.demo_store {
    top: 50px;
}
.cart-tab {
    position: absolute;
}
.products-slider {
    padding: 0!important;
    width: 956px!important;
    margin: 30px auto 0!important;
    float: none!important;
    clear: both;
}
.products-slider .woocommerce ul.products li.first, 
.products-slider .woocommerce-page ul.products li.first {
    clear: none;
}
.products-slider .woocommerce ul.products li.product, 
.products-slider .woocommerce-page ul.products li.product {
    margin: 0;
}
.products-slider .product-item {
    padding: 0 18px;
}
.products-slider .woocommerce ul.products li.product .onsale, 
.products-slider .woocommerce-page ul.products li.product .onsale {
    margin: 10px 30px 0 0;
}
.products-slider .woocommerce .products .star-rating, 
.products-slider .woocommerce-page .products .star-rating {
    display: none;
}
.products-slider .woocommerce a.button {
    padding: 9px 10px;
    display: block;
}
.container .products-slider .flexslider .flex-direction-nav .flex-prev:before,
.container .products-slider .flexslider .flex-direction-nav .flex-next:before {
    color: #26cdb3;
}
.woocommerce .related ul li.product, 
.woocommerce .related ul.products li.product, 
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product, 
.woocommerce-page .related ul li.product, 
.woocommerce-page .related ul.products li.product, 
.woocommerce-page .upsells.products ul li.product, 
.woocommerce-page .upsells.products ul.products li.product {
    width: 25%;
}
.woocommerce .shop-content .images .thumbnails {
    margin-left: 0;
}
.woocommerce .quantity input.qty {
    margin-bottom: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs li, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
    background: #26cdb3;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    text-shadow: none;
    color: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding-left: 5px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    padding: 5px 20px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
    padding-top: 0;
}
.woocommerce #review_form #respond textarea, 
.woocommerce-page #review_form #respond textarea {
    margin-bottom: 0;
}
.shop-content .entry-summary, 
.shop-content .entry-content {
    font-weight: 300;
}
.products-slider .woocommerce ul.products li.product:nth-child(2n), 
.products-slider .woocommerce-page ul.products li.product:nth-child(2n),
.products-slider .woocommerce ul.products li.product, 
.products-slider .woocommerce-page ul.products li.product {
    float: left!important;
    clear: none!important;
    width: auto!important;
    position: inherit!important;
}
/* 404 page */
.page-404 {
    border:15px solid #e0e5e7;
    margin: 50px auto;
    width: 30%;
    padding: 40px 70px;
    text-align: center;
}
.page-404 h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}
.page-404 h2 {
    font-style: italic;
    margin-bottom: 30px;
}
.page-404 h1 span {
    color: #26cdb3;
}
.page-404 p {
    font-size: 18px;
}
/* Other styles */
.no-results #searchsubmit {
    margin-bottom: 0;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
}
.no-results #s {
    margin-bottom: 0;
}
.page-item-title.container-fluid {
    background: #fff;
    height: 0;
    transition: height 0.85s cubic-bezier(0.725, 0, 0, 0.995) 0s;
    -webkit-transition: height 0.85s cubic-bezier(0.725, 0, 0, 0.995) 0s;
    overflow: hidden;
}
.page-item-title h1 {
    font-size: 30px;
    color: #000;
    padding: 20px 0;
}
.portfolio-item-image.fullwidth {
    margin-top: -40px;
}
.fullwidth-section {
    padding-top:30px;
    padding-bottom: 30px;
}
.fullwidth-section.parallax {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: repeat-y!important;
}
.fullwidth-slider .vc-carousel {
    width: 100%!important;
}
.fullwidth-slider .vc-inner img {
    width: 100%;
    height: auto;
}
.vc-carousel-control .icon-prev,
.vc-carousel-control .icon-next {
    background: none;
    font-size:36px;
}
.vc-carousel-control .icon-prev:before {
    font-family: "FontAwesome"; 
    display: inline-block; 
    content: ''!important;
}
.vc-carousel-control .icon-next:before {
    font-family: "FontAwesome"; 
    display: inline-block; 
    content: ''!important;
}

/*
* Revolution slider overrides
*/
.tp-bullets.simplebullets.round .bullet:hover, 
.tp-bullets.simplebullets.round .bullet.selected, 
.tp-bullets.simplebullets.navbar .bullet:hover, 
.tp-bullets.simplebullets.navbar .bullet.selected {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 15px;
    height: 20px;
    margin-top: -12px;
    width: 20px;
}
.tp-bullets.simplebullets.round .bullet {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-right: 0;
    margin-top: -10px;
    position: relative;
    width: 15px;
}

/* ------------------------------------------
    Bootstrap overrides for FENCER theme
-------------------------------------------*/
h1, h2, h3 {
    line-height: 40px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
}
.container-fluid {
    padding: 0!important;
}
html {
  font-size: inherit;
}
td, th {
    padding: inherit;
    line-height: 20px;
}
ul, ol {
    margin: 0;
    padding: 0;
}
body {
  line-height: inherit;
}
.container > .navbar-header, 
.container-fluid > .navbar-header, 
.container > .navbar-collapse, 
.container-fluid > .navbar-collapse {
    margin-left: 0!important;
    margin-right: 0!important;
}
.label {
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    white-space: inherit;
}
.panel {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    background: none;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0;
}
input, select, textarea, button {
    vertical-align: middle;
    color: #928f8f;
}
input, input.input-text, select, textarea {
    border: 1px solid #e6e9e8;
    padding: 5px;
    color: #000;
    font-size: 12px;
    vertical-align: middle;
}
input::-webkit-input-placeholder {
    font-size: 12px!important;
}
input:-moz-placeholder {
    font-size: 12px!important;
}
blockquote {
    border-color: #FFC941;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}   

.label, 
.badge {
    background: transparent;
    text-shadow: none;
    border-radius: 0;
    color: #000;
}
blockquote {
    border-color: #26cdb3;
}
.container {
    padding: 0;
}

/* ------------------------------------------
    Visual Composer overrides for FENCER theme
-------------------------------------------*/
body .wpb_row, 
body .wpb_content_element, 
body ul.wpb_thumbnails-fluid > li, 
body .last_toggle_el_margin, 
body .wpb_button {
    margin-bottom: 35px;
}
.wpb_wrapper li {
    margin-left: 30px;
}
.container .flexslider {
    margin-bottom: 0;
    background: none;
}
.container .flexslider .flex-direction-nav a {
    background: none;
    color: #fff;
    font-size: 0;
}
.container .flexslider .flex-direction-nav .flex-prev:before {
    font-family: "FontAwesome"; 
    font-size: 35px; 
    display: inline-block; 
    content: '';
}
.container .flexslider .flex-direction-nav .flex-next:before {
    font-family: "FontAwesome"; 
    font-size: 35px; 
    display: inline-block; 
    content: '';
}
.container .wpb_gallery .wpb_flexslider .flex-control-nav {
    bottom: 0;
}
.wpb_button {
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
    border:none;
    text-shadow: none!important;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    background: #26cdb3;
    color: #fff;
}
.container .wpb_toggle,
.container #content h4.wpb_toggle {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    background: none;
    padding-left: 0;
}
.container .wpb_toggle:before,
.container #content h4.wpb_toggle:before {
    font-family: "FontAwesome"; 
    font-size: 15px; 
    content: '';
    margin-right: 10px;
    color: #26cdb3;
}
.container .wpb_toggle.wpb_toggle_title_active:before,
.container #content h4.wpb_toggle.wpb_toggle_title_active:before {
    content: '';
}

/* ------------------------------------------
    Wordpress Custom Theme Style
-------------------------------------------*/
html #wpadminbar {
    position: fixed;
}
.taxonomy-description {
    padding: 15px;
    padding-bottom: 0;
}
.taxonomy-description p {
    margin: 0;
}
.blog-header-title {
    margin: 70px 0;
    text-transform: uppercase;
}
.about-meta {
    margin-top: 30px;
}
.about-meta i {
    margin-right: 5px;
    margin-left: 5px;
}
.comment-list .children {
    margin-left: 20px;
}
.comment-list li {
    margin-top: 30px;
    list-style: none;
}
.comment-list {
    margin: 0;
    padding: 0;
    list-style: none;;
}
.comment-content {
    margin-top: 13px;
    font-weight: 300;
    line-height: 1.6em;
}
.comment-body {
    font-size:13px;
    background: #fff;
    padding: 10px;
}
.comment-author {
    width: 60px;
    margin: 20px;
    float: left;
}
.comment-metadata {
    margin-top: 20px;
    line-height: 1em;
    padding-left:100px;
}
.comment-meta .reply {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.comment-meta .reply a {
    display: inline-block;
    color: #fff;
    background: #26cdb3;
    padding: 3px 10px;
    font-size: 12px;
}
.comment-meta .reply a:hover {
    text-decoration: none;
    background: #000;
}
.comment-meta .reply a.comment-edit-link {
    background: #000;
}
.comment-meta .date {
    margin-top: 5px;
    font-weight: 300;
}
.comment-meta .date a {
    color: #999999;
}
.comments-title {
    font-size: 16px;
    line-height: 1em;
    margin: 0;
    padding: 0;
}
.comment-reply-title {
    font-size: 16px;
}
.comments-area .logged-in-as, .comments-area .comment-notes {
    color: #999999;
    font-weight: 300;
}
.comments-area #comment {
    margin-bottom: 0;
}
.widget_tag_cloud .tagcloud {
    text-align: center;
    margin-right: 10px;
}
.widget_calendar table {
    width: 100%;
    text-align: center;
}
.widget_calendar #calendar_wrap {

}
.widget_rss li {
    margin-bottom: 20px;
}

/* ------------------------------------------
	Wordpress Theme Style
-------------------------------------------*/
.only-fixed{
    position: fixed!important;
    top:0!important;
}
.arrow-down-text{
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    width: 240px;
    text-align: center;
    left: 50%;
    margin-left: -120px;
    color: #ffffff!important;
    z-index: 1;
    transition: all .6s;
    -webkit-transition: all .6s;
}
.arrow-down-text:hover{
    opacity: .6;
    text-decoration: none;
}
input.pass-input{
    margin-bottom: 0;
}
.entry-content{
    overflow: visible;/* changed! */
}
img.alignleft{
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}
.alignleft{
    float: left;
}
img.alignright{
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
}
.alignright{
    float: right;
}
.aligncenter{
    text-align: center;
    margin: auto;
}
.wp-caption img{
    max-width: 956px;
}
.image-attachment{
    margin: 150px 0;
}
.image-attachment .about-meta{
    margin-bottom: 0;
}
.comments-area input[type="text"]{
    width: 462px;
}
.comments-area textarea{
    width: 100%;
}

/* Loader */
.mask {
    background-color: #FFFFFF;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100000;
}
#preloader {
    height: 81px;
    left: 50%;
    margin: -65px 0 0 -65px;
    position: absolute;
    top: 50%;
    width: 130px;
}
.bubblingG {
    text-align: center;
    width:130px;
    height:81px;
}
.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin: 41px auto;
    background: #26CDB4;
    -moz-border-radius: 82px;
    -moz-animation: bubblingG 1.4s infinite alternate;
    -webkit-border-radius: 82px;
    -webkit-animation: bubblingG 1.4s infinite alternate;
    -ms-border-radius: 82px;
    -ms-animation: bubblingG 1.4s infinite alternate;
    -o-border-radius: 82px;
    -o-animation: bubblingG 1.4s infinite alternate;
    border-radius: 82px;
    animation: bubblingG 1.4s infinite alternate;
}

#bubblingG_1 {
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

#bubblingG_2 {
    -moz-animation-delay: 0.42s;
    -webkit-animation-delay: 0.42s;
    -ms-animation-delay: 0.42s;
    -o-animation-delay: 0.42s;
    animation-delay: 0.42s;
}

#bubblingG_3 {
    -moz-animation-delay: 0.84s;
    -webkit-animation-delay: 0.84s;
    -ms-animation-delay: 0.84s;
    -o-animation-delay: 0.84s;
    animation-delay: 0.84s;
}

@-moz-keyframes bubblingG {
0% {
    width: 16px;
    height: 16px;
    background-color:#26CDB4;
    -moz-transform: translateY(0);
}

100% {
    width: 39px;
    height: 39px;
    background-color:#FFFFFF;
    -moz-transform: translateY(-34px);
}

}

@-webkit-keyframes bubblingG {
0% {
    width: 16px;
    height: 16px;
   
    -webkit-transform: translateY(0);
}

100% {
    width: 39px;
    height: 39px;
    background-color:#FFFFFF;
    -webkit-transform: translateY(-34px);
}

}

@-ms-keyframes bubblingG {
0% {
    width: 16px;
    height: 16px;
    
    -ms-transform: translateY(0);
}

100% {
    width: 39px;
    height: 39px;
    background-color:#FFFFFF;
    -ms-transform: translateY(-34px);
}

}

@-o-keyframes bubblingG {
0% {
    width: 16px;
    height: 16px;
   
    -o-transform: translateY(0);
}

100% {
    width: 39px;
    height: 39px;
    background-color:#FFFFFF;
    -o-transform: translateY(-34px);
}

}

@keyframes bubblingG {
0% {
    width: 16px;
    height: 16px;
   
    transform: translateY(0);
}

100% {
    width: 39px;
    height: 39px;
    background-color:#FFFFFF;
    transform: translateY(-34px);
}

}
/* End Menu ----------------------------------*/
/* Page builder styles */
.vc_text_separator div {
  font-size: 25px;
}
.isotope-item h2, .wpb_teaser_grid_portfolio h2 {
  font-size: 16px;
}
