 .navigation-header:not(.inner-menu):not(.fixmenu-clone) { height: 80px; }
.navigation-header .navigation-bar > .menu-item.featured > a:hover,
.navigation-header .navigation-bar > .menu-item.featured.current > a:hover,
.navigation-header .dropdown-menu .dropdown:not(:hover):not(:active):after,
.navigation-header .navigation-bar > .dropdown:not(:hover) > .dropdown-toggle:not(:hover),
.navigation-header .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover),
.navigation-header .menu-extra-container .navigation-bar .menu-item:not(.featured).current a:not(.dropdown-toggle):not(:hover):not(:active),
.navigation-header .navigation-bar > .menu-item:not(.current):not(.featured):not(:hover) > a:not(:active):not(:hover) { color: #216f86; }
.navigation-header a, .navigation-header a:hover, .navigation-header a:active, .navigation-header a:focus,
.navigation-header i, .navigation-header i:before, .navigation-header i:hover, .navigation-header i:hover:before,
.navigation-header i, .navigation-header i:before, .navigation-header i:hover, .navigation-header i:hover:before,
.navigation-header .featured > a, .navigation-header .current > a:not(.dropdown-toggle), .navigation-header .dropdown-menu > .menu-item > a, .navigation-header .dropdown-menu > .menu-item > a:hover,
.navigation-header .dropdown-menu > .menu-item > a:active, .navigation-header .dropdown-menu > .menu-item > a:focus, .navigation-header .dropdown-menu > .menu-item.active >a,
.navigation-header .dropdown-menu > .menu-item.active > a:hover, .navigation-header .dropdown-menu > .menu-item.active > a:focus, .navigation-header .dropdown-menu > .menu-item.active > a:active, .navigation-header .dropdown:hover:after,
.navigation-header .base_clr_txt, .navigation-header .btn-default:hover, .navigation-header .btn-default:focus { color: #82cec3; }
.navigation-header .current > a:not(.dropdown-toggle):after,
.navigation-header .dropdown-toggle:before, .navigation-header .featured > a:hover,
.navigation-header .featured > a:active, .navigation-header .base_clr_bg, .navigation-header .base_clr_bg:hover, .navigation-header .base_clr_bg:active
.navigation-header .btn.base_clr_bg { background-color: #82cec3; }
.navigation-header .featured > a,
.navigation-header .featured > a:hover,
.navigation-header .featured > a:active,
.navigation-header .featured > a:focus,
.navigation-header .base_clr_brd:hover, .navigation-header .base_clr_brd:active, .navigation-header .base_clr_brd { border-color: #82cec3; }
@media (max-width: 1024px) {
}
.navigation-header.inner-menu:not(.fixmenu-clone) { height: 80px; }
.navigation-header.inner-menu .navigation-bar > .menu-item.featured > a:hover,
.navigation-header.inner-menu .navigation-bar > .menu-item.featured.current > a:hover,
.navigation-header.inner-menu .dropdown-menu .dropdown:not(:hover):not(:active):after,
.navigation-header.inner-menu .navigation-bar > .dropdown:not(:hover) > .dropdown-toggle:not(:hover),
.navigation-header.inner-menu .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover),
.navigation-header.inner-menu .menu-extra-container .navigation-bar .menu-item:not(.featured).current a:not(.dropdown-toggle):not(:hover):not(:active),
.navigation-header.inner-menu .navigation-bar > .menu-item:not(.current):not(.featured):not(:hover) > a:not(:active):not(:hover) { color: #216f86; }
.navigation-header.inner-menu a, .navigation-header.inner-menu a:hover, .navigation-header.inner-menu a:active, .navigation-header.inner-menu a:focus,
.navigation-header.inner-menu i, .navigation-header.inner-menu i:before, .navigation-header.inner-menu i:hover, .navigation-header.inner-menu i:hover:before,
.navigation-header.inner-menu .featured > a, .navigation-header.inner-menu .current > a:not(.dropdown-toggle), .navigation-header.inner-menu .dropdown-menu > li > a, .navigation-header.inner-menu .dropdown-menu > li > a:hover,
.navigation-header.inner-menu .dropdown-menu > li > a:active, .navigation-header.inner-menu .dropdown-menu > li > a:focus, .navigation-header.inner-menu .dropdown-menu > .menu-item.active >a,
.navigation-header.inner-menu .dropdown-menu > .menu-item.active > a:hover, .navigation-header.inner-menu .dropdown-menu > .menu-item.active > a:focus, .navigation-header.inner-menu .dropdown-menu > .menu-item.active > a:active, .navigation-header.inner-menu .dropdown:hover:after,
.navigation-header.inner-menu .base_clr_txt, .navigation-header.inner-menu .btn-default:hover, .navigation-header.inner-menu .btn-default:focus { color: #82cec3; }
.navigation-header.inner-menu .current > a:not(.dropdown-toggle):after, .navigation-header.inner-menu .dropdown-toggle:before,
.navigation-header.inner-menu .tagcloud > a:hover, .navigation-header.inner-menu .featured > a:hover,
.navigation-header.inner-menu .featured > a:active, .navigation-header.inner-menu .base_clr_bg, .navigation-header.inner-menu .base_clr_bg:hover, .navigation-header.inner-menu .base_clr_bg:active,
.navigation-header.inner-menu .btn.base_clr_bg { background-color: #82cec3; }
.navigation-header.inner-menu .featured > a, .navigation-header.inner-menu .featured > a:hover, .navigation-header.inner-menu .featured > a:active,
.navigation-header.inner-menu .featured > a:focus, .navigation-header.inner-menu .base_clr_brd { border-color: #82cec3; }
.navigation-header.inner-menu:not(.fixmenu-clone) { background-position: center center }
.navigation-header.inner-menu:not(.fixmenu-clone) { background-repeat: no-repeat }
.navigation-header.inner-menu:not(.fixmenu-clone) { background-size: auto; -moz-background-size: auto; -webkit-background-size: auto; }
.navigation-header.inner-menu:not(.fixmenu-clone) { background-image: url("/useboomerang/wp-content/uploads/20160122024638/bg2-1024x265.jpg");}
@media (max-width: 1024px) {
.navigation-header.inner-menu:not(.fixmenu-clone) { background-position: center center; }
.navigation-header.inner-menu:not(.fixmenu-clone) { background-repeat: no-repeat; }
.navigation-header.inner-menu:not(.fixmenu-clone) { background-size: auto; -moz-background-size: auto; -webkit-background-size: auto; }
}
.fixmenu-clone.navigation-header.inner-menu, .fixmenu-clone.navigation-header { height: 80px; }
.fixmenu-clone.navigation-header .navigation-bar > .menu-item.featured > a:hover,
.fixmenu-clone.navigation-header .navigation-bar > .menu-item.featured.current > a:hover,
.fixmenu-clone.navigation-header .dropdown-menu .dropdown:not(:hover):not(:active):after,
.fixmenu-clone.navigation-header .navigation-bar > .dropdown:not(:hover) > .dropdown-toggle:not(:hover),
.fixmenu-clone.navigation-header .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover),
.fixmenu-clone.navigation-header .menu-extra-container .navigation-bar .menu-item:not(.featured).current a:not(.dropdown-toggle):not(:hover):not(:active),
.fixmenu-clone.navigation-header.inner-menu .navigation-bar > .menu-item:not(.current):not(.featured):not(:hover) > a:not(:active):not(:hover),
.fixmenu-clone.navigation-header .navigation-bar > .menu-item:not(.current):not(.featured):not(:hover) > a:not(:active):not(:hover) { color: #216f86; }
.fixmenu-clone.navigation-header a, .fixmenu-clone.navigation-header a:hover, .fixmenu-clone.navigation-header a:active, .fixmenu-clone.navigation-header a:focus,
.fixmenu-clone.navigation-header i, .fixmenu-clone.navigation-header i:before, .fixmenu-clone.navigation-header i:hover, .fixmenu-clone.navigation-header i:hover:before,
.fixmenu-clone.navigation-header .featured > a, .fixmenu-clone.navigation-header .current > a:not(.dropdown-toggle), .fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a:hover,
.fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a:active, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a:focus, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active > a,
.fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active > a:hover, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active > a:focus, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active > a:active, .fixmenu-clone.navigation-header .dropdown:hover:after,
.fixmenu-clone.navigation-header .base_clr_txt, .fixmenu-clone.navigation-header .btn-default:hover, .fixmenu-clone.navigation-header .btn-default:focus { color: #82cec3; }
.fixmenu-clone.navigation-header .current > a:not(.dropdown-toggle):after,
.fixmenu-clone.navigation-header .dropdown-toggle:before,.fixmenu-clone.navigation-header .featured > a:hover,
.fixmenu-clone.navigation-header .featured > a:active, .fixmenu-clone.navigation-header .base_clr_bg, .fixmenu-clone.navigation-header .base_clr_bg:hover, .fixmenu-clone.navigation-header .base_clr_bg:active,
.fixmenu-clone.navigation-header .btn.base_clr_bg { background-color: #82cec3; }
.fixmenu-clone.navigation-header .featured > a, .fixmenu-clone.navigation-header .featured > a:hover, .fixmenu-clone.navigation-header .featured > a:active,
.fixmenu-clone.navigation-header .featured > a:focus, .fixmenu-clone.navigation-header .base_clr_brd:hover, .fixmenu-clone.navigation-header .base_clr_brd:active, .fixmenu-clone.navigation-header .base_clr_brd { border-color: #82cec3; }
@media (max-width: 1024px) {
}

			.fixmenu-clone.navigation-header .navigation-bar > .menu-item.dropdown:not(.featured) > a:after, .navigation-header .navigation-bar > .menu-item.dropdown:not(.featured) > a:after { background-color: rgba(255,255,255,1); }
			.fixmenu-clone.navigation-header .dropdown:hover .dropdown-toggle, .navigation-header .dropdown:hover .dropdown-toggle { position: relative; z-index: 9999; }
			.fixmenu-clone.navigation-header .dropdown-menu, .navigation-header .dropdown-menu { background: rgba(255,255,255,1); }
			.fixmenu-clone.navigation-header .dropdown-menu .menu-item a, .navigation-header .dropdown-menu .menu-item a { border-bottom-color: rgba(0,0,0,0.03); }
			.fixmenu-clone.navigation-header .dropdown-menu .menu-item + .menu-item a, .navigation-header .dropdown-menu .menu-item + .menu-item a { border-top-color: rgba(0,0,0,0.05); }
			.fixmenu-clone.navigation-header .dropdown-menu > .menu-item.dropdown:hover:before, .navigation-header .dropdown-menu > .menu-item.dropdown:hover:before { background-color: #e5e5e5; }
			.fixmenu-clone.navigation-header .dropdown-menu > .menu-item.dropdown:hover + .menu-item a, .navigation-header .dropdown-menu > .menu-item.dropdown:hover + .menu-item a { border-top-color: transparent; }
			.fixmenu-clone.navigation-header .dropdown-menu > .menu-item.dropdown > a, .navigation-header .dropdown-menu > .menu-item.dropdown > a { position: relative; z-index: 10; }
			.fixmenu-clone.navigation-header .dropdown-menu > .menu-item.dropdown:hover > a:hover, .navigation-header .dropdown-menu > .menu-item.dropdown:hover > a:hover { border-color: transparent; }

			body.mobile-always .fixmenu-clone.navigation-header .dropdown-menu .dropdown-menu,
			body.mobile-always .navigation-header .dropdown-menu .dropdown-menu { background-color: #e5e5e5; }

			.fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a:focus, .navigation-header .dropdown-menu > .menu-item > a:focus { background: transparent }

			.fixmenu-clone.navigation-header .dropdown-menu .dropdown:not(:hover):not(:active):after,
			.fixmenu-clone.navigation-header .navigation-bar > .menu-item.dropdown:not(:hover) > a:not(:active):not(:hover),
			.fixmenu-clone.navigation-header .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover) { color: #000; }

			.navigation-header .dropdown-menu .dropdown:not(:hover):not(:active):after,
			.navigation-header .navigation-bar > .menu-item.dropdown:not(:hover) > a:not(:active):not(:hover),
			.navigation-header .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover) { color: #000; }

			.navigation-header.inner-menu .dropdown-menu .dropdown:not(:hover):not(:active):after,
			.navigation-header.inner-menu .navigation-bar > .menu-item.dropdown:hover > a:not(:active):not(:hover),
			.navigation-header.inner-menu .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover) { color: #000; }

			body.mobile-always .navbar-collapse { background-color: rgba(255,255,255,1); }
			body.mobile-always .fixmenu-clone.navigation-header .navbar-collapse { border-left: 1px solid rgba(0,0,0,0.1); }
			body.mobile-always .navigation-header .navigation-bar > .menu-item > a, body.mobile-always .navigation-header .navigation-bar > .menu-item > a:hover, body.mobile-always .navigation-header .navigation-bar > .menu-item.current > a { border-bottom-color: #ececec; border-top-color: #f8f8f8; }
			body.mobile-always .navigation-header .navigation-bar > .menu-item.dropdown.opened > .dropdown-toggle { background-color: rgba(255,255,255,0.3); }
			body.mobile-always .navigation-header .navigation-bar .dropdown-menu .menu-item > a, body.mobile-always .navigation-header .navigation-bar .dropdown-menu .menu-item > a:hover, body.mobile-always .navigation-header .navigation-bar .dropdown-menu .menu-item.current > a { background-color: rgba(255,255,255,0.1); border-bottom: 1px solid rgba(217,217,217, 1); }
			body.mobile-always .navigation-header .navigation-bar .dropdown-menu .menu-item > a:first-child { border-top: 1px solid rgba(237,237,237,1); }
			body.mobile-always .fixmenu-clone.navigation-header .dropdown-menu > .menu-item.dropdown:hover + .menu-item a, body.mobile-always .navigation-header .dropdown-menu > .menu-item.dropdown:hover + .menu-item a { border-top: 1px solid rgba(237,237,237,1); }
			body.mobile-always .fixmenu-clone.navigation-header .navigation-bar > .menu-item:not(.current):not(.featured) > a:not(:active):not(:hover) { color: #000; }

			body.mobile-always .navigation-header .navigation-bar > .menu-item.featured > a:hover,
			body.mobile-always .navigation-header .navigation-bar > .menu-item.featured.current > a:hover,
			body.mobile-always .navigation-header .dropdown-menu .dropdown:not(:hover):not(:active):after,
			body.mobile-always .navigation-header .navigation-bar > .dropdown:not(:hover) > .dropdown-toggle:not(:hover),
			body.mobile-always .navigation-header .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover),
			body.mobile-always .menu-extra-container .navigation-bar .menu-item:not(.featured).current a:not(.dropdown-toggle):not(:hover):not(:active),
			body.mobile-always .navigation-header .navigation-bar > .menu-item:not(.current):not(.featured):not(:hover) > a:not(:active):not(:hover) { color: #000; }

			body.mobile-always .fixmenu-clone.navigation-header .navigation-bar > .menu-item.featured > a:hover,
			body.mobile-always .fixmenu-clone.navigation-header .navigation-bar > .menu-item.featured.current > a:hover,
			body.mobile-always .fixmenu-clone.navigation-header .dropdown-menu .dropdown:not(:hover):not(:active):after,
			body.mobile-always .fixmenu-clone.navigation-header .navigation-bar > .dropdown > .dropdown-toggle:not(:hover)
			body.mobile-always .fixmenu-clone.navigation-header .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover)
			body.mobile-always .fixmenu-clone.navigation-header .navigation-bar > .menu-item:not(.current):not(.featured):not(:hover) > a:not(:active):not(:hover) { color: #000; }

			@media (max-width: 1024px) {
				.navbar-collapse { background-color: rgba(255,255,255,1); }
				.navigation-header .dropdown-menu .dropdown-menu { background-color: #e5e5e5; }
				.fixmenu-clone.navigation-header .navbar-collapse { border-left: 1px solid rgba(0,0,0,0.1); }
				.navigation-header .navigation-bar > .menu-item.dropdown.opened > .dropdown-toggle { background-color: rgba(255,255,255,0.3); }
				.navigation-header .navigation-bar .dropdown-menu .menu-item > a, .navigation-header .navigation-bar .dropdown-menu .menu-item > a:hover, .navigation-header .navigation-bar .dropdown-menu .menu-item.current > a { background-color: rgba(255,255,255,0.1); border-bottom: 1px solid rgba(217,217,217, 1); }
				.navigation-header .navigation-bar .dropdown-menu .menu-item > a:first-child { border-top: 1px solid rgba(237,237,237,1); }
				.fixmenu-clone.navigation-header .dropdown-menu > .menu-item.dropdown:hover + .menu-item a, .navigation-header .dropdown-menu > .menu-item.dropdown:hover + .menu-item a { border-top: 1px solid rgba(237,237,237,1); }

				.navigation-header.inner-menu .navigation-bar > .menu-item.featured > a:hover,
				.navigation-header.inner-menu .navigation-bar > .menu-item.featured.current > a:hover,
				.navigation-header.inner-menu .dropdown-menu .dropdown:not(:hover):not(:active):after,
				.navigation-header.inner-menu .navigation-bar > .dropdown > .dropdown-toggle:not(:hover),
				.navigation-header.inner-menu .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover),
				.navigation-header.inner-menu .menu-extra-container .navigation-bar .menu-item:not(.featured).current a:not(.dropdown-toggle):not(:hover):not(:active),
				.navigation-header.inner-menu .navigation-bar > .menu-item:not(.current):not(.featured) > a:not(:active):not(:hover),

				.navigation-header .navigation-bar > .menu-item.featured > a:hover,
				.navigation-header .navigation-bar > .menu-item.featured.current > a:hover,
				.navigation-header .dropdown-menu .dropdown:not(:hover):not(:active):after,
				.navigation-header .navigation-bar > .dropdown:not(:hover) > .dropdown-toggle:not(:hover),
				.navigation-header .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover),
				.navigation-header .menu-extra-container .navigation-bar .menu-item:not(.featured).current a:not(.dropdown-toggle):not(:hover):not(:active),
				.navigation-header .navigation-bar > .menu-item:not(.current):not(.featured):not(:hover) > a:not(:active):not(:hover),

				.fixmenu-clone.navigation-header .navigation-bar > .menu-item.featured > a:hover,
				.fixmenu-clone.navigation-header .navigation-bar > .menu-item.featured.current > a:hover,
				.fixmenu-clone.navigation-header .dropdown-menu .dropdown:not(:hover):not(:active):after,
				.fixmenu-clone.navigation-header .navigation-bar > .dropdown:not(:hover) > .dropdown-toggle:not(:hover),
				.fixmenu-clone.navigation-header .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover),
				.fixmenu-clone.navigation-header .menu-extra-container .navigation-bar .menu-item:not(.featured).current a:not(.dropdown-toggle):not(:hover):not(:active),
				.fixmenu-clone.navigation-header .navigation-bar > .menu-item:not(.current):not(.featured):not(:hover) > a:not(:active):not(:hover) { color: #000; }
				.fixmenu-clone.navigation-header .navigation-bar > .menu-item:not(.current):not(.featured) > a:not(:active):not(:hover) { color: #000; }
				.fixmenu-clone.navigation-header .dropdown-menu .dropdown-menu, .navigation-header .dropdown-menu .dropdown-menu { background-color: #e5e5e5; }

			}
.fixmenu-clone.navigation-header .dropdown-menu .dropdown:not(:hover):not(:active):after,
.fixmenu-clone.navigation-header .navigation-bar > .menu-item.dropdown:not(:hover) > a:not(:active):not(:hover),
.fixmenu-clone.navigation-header .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover) { color: #216f86; }
.navigation-header .dropdown-menu .dropdown:not(:hover):not(:active):after,
.navigation-header .navigation-bar > .menu-item.dropdown:not(:hover) > a:not(:active):not(:hover),
.navigation-header .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover) { color: #216f86; }
.navigation-header.inner-menu .dropdown-menu .dropdown:not(:hover):not(:active):after,
.navigation-header.inner-menu .navigation-bar > .menu-item.dropdown:not(:hover) > a:not(:active):not(:hover),
.navigation-header.inner-menu .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover) { color: #216f86; }
body.mobile-always .navigation-header .navigation-bar > .menu-item.featured > a:hover,
body.mobile-always .navigation-header .navigation-bar > .menu-item.featured.current > a:hover,
body.mobile-always .navigation-header .dropdown-menu .dropdown:not(:hover):not(:active):after,
body.mobile-always .navigation-header .navigation-bar > .dropdown:not(:hover) > .dropdown-toggle:not(:hover),
body.mobile-always .navigation-header .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover),
body.mobile-always .menu-extra-container .navigation-bar .menu-item:not(.featured).current a:not(.dropdown-toggle):not(:hover):not(:active),
body.mobile-always .navigation-header .navigation-bar > .menu-item:not(.current):not(.featured):not(:hover) > a:not(:active):not(:hover) { color: #216f86; }
body.mobile-always .fixmenu-clone.navigation-header .navigation-bar > .menu-item.featured > a:hover,
body.mobile-always .fixmenu-clone.navigation-header .navigation-bar > .menu-item.featured.current > a:hover,
body.mobile-always .fixmenu-clone.navigation-header .dropdown-menu .dropdown:not(:hover):not(:active):after,
body.mobile-always .fixmenu-clone.navigation-header .navigation-bar > .dropdown:not(:hover) > .dropdown-toggle:not(:hover),
body.mobile-always .fixmenu-clone.navigation-header .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover),
body.mobile-always .fixmenu-clone.navigation-header .navigation-bar > .menu-item:not(.current):not(.featured):not(:hover) > a:not(:active):not(:hover) { color: #216f86; }
@media (max-width: 1024px) {
.navigation-header.inner-menu .navigation-bar > .menu-item.featured > a:hover,
.navigation-header.inner-menu .navigation-bar > .menu-item.featured.current > a:hover,
.navigation-header.inner-menu .dropdown-menu .dropdown:not(:hover):not(:active):after,
.navigation-header.inner-menu .navigation-bar > .dropdown > .dropdown-toggle:not(:hover),
.navigation-header.inner-menu .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover),
.navigation-header.inner-menu .menu-extra-container .navigation-bar .menu-item:not(.featured).current a:not(.dropdown-toggle):not(:hover):not(:active),
.navigation-header.inner-menu .navigation-bar > .menu-item:not(.current):not(.featured) > a:not(:active):not(:hover),
.navigation-header .navigation-bar > .menu-item.featured > a:hover,
.navigation-header .navigation-bar > .menu-item.featured.current > a:hover,
.navigation-header .dropdown-menu .dropdown:not(:hover):not(:active):after,
.navigation-header .navigation-bar > .dropdown:not(:hover) > .dropdown-toggle:not(:hover),
.navigation-header .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover),
.navigation-header .menu-extra-container .navigation-bar .menu-item:not(.featured).current a:not(.dropdown-toggle):not(:hover):not(:active),
.navigation-header .navigation-bar > .menu-item:not(.current):not(.featured):not(:hover) > a:not(:active):not(:hover),
.fixmenu-clone.navigation-header .navigation-bar > .menu-item.featured > a:hover,
.fixmenu-clone.navigation-header .navigation-bar > .menu-item.featured.current > a:hover,
.fixmenu-clone.navigation-header .dropdown-menu .dropdown:not(:hover):not(:active):after,
.fixmenu-clone.navigation-header .navigation-bar > .dropdown:not(:hover) > .dropdown-toggle:not(:hover),
.fixmenu-clone.navigation-header .dropdown-menu .menu-item:not(.active):not(:hover) > a:not(:active):not(:hover),
.fixmenu-clone.navigation-header .menu-extra-container .navigation-bar .menu-item:not(.featured).current a:not(.dropdown-toggle):not(:hover):not(:active),
.fixmenu-clone.navigation-header .navigation-bar > .menu-item:not(.current):not(.featured):not(:hover) > a:not(:active):not(:hover) { color: #216f86; }
}
.fixmenu-clone.navigation-header .dropdown-menu a, .fixmenu-clone.navigation-header .dropdown-menu a:hover, .fixmenu-clone.navigation-header .dropdown-menu a:active, .fixmenu-clone.navigation-header .dropdown-menu a:focus,
.fixmenu-clone.navigation-header .dropdown-menu i, .fixmenu-clone.navigation-header .dropdown-menu i:before, .fixmenu-clone.navigation-header .dropdown-menu i:hover, .fixmenu-clone.navigation-header .dropdown-menu i:hover:before,
.fixmenu-clone.navigation-header .dropdown-menu .current > a:not(.dropdown-toggle), .fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a:hover,
.fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a:active, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a:focus, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active > a,
.fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active > a:hover, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active > a:focus, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active > a:active, .fixmenu-clone.navigation-header .dropdown:hover:after,
.fixmenu-clone.navigation-header .dropdown-menu .base_clr_txt, .fixmenu-clone.navigation-header .dropdown-menu .btn-default:hover, .fixmenu-clone.navigation-header .dropdown-menu .btn-default:focus { color: #82cec3; }
.fixmenu-clone.navigation-header .dropdown-menu .current > a:not(.dropdown-toggle):after, .fixmenu-clone.navigation-header .dropdown-menu .dropdown-toggle:before,
.fixmenu-clone.navigation-header .dropdown-menu .featured > a:hover,
.fixmenu-clone.navigation-header .dropdown-menu .featured > a:active, .fixmenu-clone.navigation-header .base_clr_bg, .fixmenu-clone.navigation-header .base_clr_bg:hover, .fixmenu-clone.navigation-header .base_clr_bg:active,
.fixmenu-clone.navigation-header .dropdown-menu .btn.base_clr_bg { background-color: #82cec3; }
.fixmenu-clone.navigation-header .dropdown-menu .featured > a, .fixmenu-clone.navigation-header .dropdown-menu .featured > a:hover, .fixmenu-clone.navigation-header .dropdown-menu .featured > a:active,
.fixmenu-clone.navigation-header .dropdown-menu .featured > a:focus, .fixmenu-clone.navigation-header .dropdown-menu .base_clr_brd { border-color: #82cec3; }
.navigation-header .dropdown-menu a, .navigation-header .dropdown-menu a:hover, .navigation-header .dropdown-menu a:active, .navigation-header .dropdown-menu a:focus,
.navigation-header .dropdown-menu i, .navigation-header .dropdown-menu i:before, .navigation-header .dropdown-menu i:hover, .navigation-header .dropdown-menu i:hover:before,
.navigation-header .dropdown-menu .current > a:not(.dropdown-toggle), .navigation-header .dropdown-menu > .menu-item > a, .navigation-header .dropdown-menu > .menu-item > a:hover,
.navigation-header .dropdown-menu > .menu-item > a:active, .navigation-header .dropdown-menu > .menu-item > a:focus, .navigation-header .dropdown-menu > .menu-item.active >a,
.navigation-header .dropdown-menu > .menu-item.active > a:hover, .navigation-header .dropdown-menu > .menu-item.active > a:focus, .navigation-header .dropdown-menu > .menu-item.active > a:active, .navigation-header .dropdown:hover:after,
.navigation-header .dropdown-menu .base_clr_txt, .navigation-header .dropdown-menu .btn-default:hover, .navigation-header .dropdown-menu .btn-default:focus { color: #82cec3; }
.navigation-header .dropdown-menu .current > a:not(.dropdown-toggle):after, .navigation-header .dropdown-menu .dropdown-toggle:before,
.navigation-header .dropdown-menu .featured > a:hover,
.navigation-header .dropdown-menu .featured > a:active, .navigation-header .base_clr_bg, .navigation-header .base_clr_bg:hover, .navigation-header .base_clr_bg:active,
.navigation-header .dropdown-menu .btn.base_clr_bg { background-color: #82cec3; }
.navigation-header .dropdown-menu .featured > a, .navigation-header .dropdown-menu .featured > a:hover, .navigation-header .dropdown-menu .featured > a:active,
.navigation-header .dropdown-menu .featured > a:focus, .navigation-header .dropdown-menu .base_clr_brd { border-color: #82cec3; }
.navigation-header.inner-menu .dropdown-menu a, .navigation-header.inner-menu .dropdown-menu a:hover, .navigation-header.inner-menu .dropdown-menu a:active, .navigation-header.inner-menu .dropdown-menu a:focus,
.navigation-header.inner-menu .dropdown-menu i, .navigation-header.inner-menu .dropdown-menu i:before, .navigation-header.inner-menu .dropdown-menu i:hover, .navigation-header.inner-menu .dropdown-menu i:hover:before,
.navigation-header.inner-menu .dropdown-menu .current > a:not(.dropdown-toggle), .navigation-header.inner-menu .dropdown-menu > .menu-item > a, .navigation-header.inner-menu .dropdown-menu > .menu-item > a:hover,
.navigation-header.inner-menu .dropdown-menu > .menu-item > a:active, .navigation-header.inner-menu .dropdown-menu > .menu-item > a:focus, .navigation-header.inner-menu .dropdown-menu > .menu-item.active >a,
.navigation-header.inner-menu .dropdown-menu > .menu-item.active > a:hover, .navigation-header.inner-menu .dropdown-menu > .menu-item.active > a:focus, .navigation-header.inner-menu .dropdown-menu > .menu-item.active > a:active, .navigation-header.inner-menu .dropdown:hover:after,
.navigation-header.inner-menu .dropdown-menu .base_clr_txt, .navigation-header.inner-menu .dropdown-menu .btn-default:hover, .navigation-header.inner-menu .dropdown-menu .btn-default:focus { color: #82cec3; }
.navigation-header.inner-menu .dropdown-menu .current > a:not(.dropdown-toggle):after, .navigation-header.inner-menu .dropdown-menu .dropdown-toggle:before,
.navigation-header.inner-menu .dropdown-menu .featured > a:hover,
.navigation-header.inner-menu .dropdown-menu .featured > a:active, .navigation-header.inner-menu .base_clr_bg, .navigation-header.inner-menu .base_clr_bg:hover, .navigation-header.inner-menu .base_clr_bg:active,
.navigation-header.inner-menu .dropdown-menu .btn.base_clr_bg { background-color: #82cec3; }
.navigation-header.inner-menu .dropdown-menu .featured > a, .navigation-header.inner-menu .dropdown-menu .featured > a:hover, .navigation-header.inner-menu .dropdown-menu .featured > a:active,
.navigation-header.inner-menu .dropdown-menu .featured > a:focus, .navigation-header.inner-menu .dropdown-menu .base_clr_brd { border-color: #82cec3; }
body.mobile-always .navigation-header a, body.mobile-always .navigation-header a:hover, body.mobile-always .navigation-header a:active, body.mobile-always .navigation-header a:focus,
body.mobile-always .navigation-header i, body.mobile-always .navigation-header i:before, body.mobile-always .navigation-header i:hover, body.mobile-always .navigation-header i:hover:before,
body.mobile-always .navigation-header i, body.mobile-always .navigation-header i:before, body.mobile-always .navigation-header i:hover, body.mobile-always .navigation-header i:hover:before,
body.mobile-always .navigation-header .featured > a, body.mobile-always .navigation-header .current > a:not(.dropdown-toggle), body.mobile-always .navigation-header .dropdown-menu > .menu-item > a, body.mobile-always .navigation-header .dropdown-menu > .menu-item > a:hover,
body.mobile-always .navigation-header .dropdown-menu > .menu-item > a:active, body.mobile-always .navigation-header .dropdown-menu > .menu-item > a:focus, body.mobile-always .navigation-header .dropdown-menu > .menu-item.active >a,
body.mobile-always .navigation-header .dropdown-menu > .menu-item.active > a:hover, body.mobile-always .navigation-header .dropdown-menu > .menu-item.active > a:focus, body.mobile-always .navigation-header .dropdown-menu > .menu-item.active > a:active, body.mobile-always .navigation-header .dropdown:hover:after,
body.mobile-always .navigation-header .base_clr_txt, body.mobile-always .navigation-header .btn-default:hover, body.mobile-always .navigation-header .btn-default:focus { color: #82cec3; }
body.mobile-always .navigation-header .current > a:not(.dropdown-toggle):after,
body.mobile-always .navigation-header .dropdown-toggle:before, body.mobile-always .navigation-header .featured > a:hover,
body.mobile-always .navigation-header .featured > a:active, body.mobile-always .navigation-header .base_clr_bg, body.mobile-always .navigation-header .base_clr_bg:hover, body.mobile-always .navigation-header .base_clr_bg:active,
body.mobile-always .navigation-header .btn.base_clr_bg { background-color: #82cec3; }
body.mobile-always .navigation-header .featured > a, body.mobile-always .navigation-header .featured > a:hover, body.mobile-always .navigation-header .featured > a:active,
body.mobile-always .navigation-header .featured > a:focus, body.mobile-always .navigation-header .base_clr_brd, body.mobile-always .navigation-header .base_clr_brd:hover, body.mobile-always .navigation-header .base_clr_brd:active { border-color: #82cec3; }
body.mobile-always .fixmenu-clone.navigation-header a, body.mobile-always .fixmenu-clone.navigation-header a:hover, body.mobile-always .fixmenu-clone.navigation-header a:active, body.mobile-always .fixmenu-clone.navigation-header a:focus,
body.mobile-always .fixmenu-clone.navigation-header i, body.mobile-always .fixmenu-clone.navigation-header i:before, body.mobile-always .fixmenu-clone.navigation-header i:hover, body.mobile-always .fixmenu-clone.navigation-header i:hover:before,
body.mobile-always .fixmenu-clone.navigation-header i, body.mobile-always .fixmenu-clone.navigation-header i:before, body.mobile-always .fixmenu-clone.navigation-header i:hover, body.mobile-always .fixmenu-clone.navigation-header i:hover:before,
body.mobile-always .fixmenu-clone.navigation-header .featured > a, body.mobile-always .fixmenu-clone.navigation-header .current > a:not(.dropdown-toggle), body.mobile-always .fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a, body.mobile-always .fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a:hover,
body.mobile-always .fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a:active, body.mobile-always .fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a:focus, body.mobile-always .fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active >a,
body.mobile-always .fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active > a:hover, body.mobile-always .fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active > a:focus, body.mobile-always .fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active > a:active, body.mobile-always .fixmenu-clone.navigation-header .dropdown:hover:after,
body.mobile-always .fixmenu-clone.navigation-header .base_clr_txt, body.mobile-always .fixmenu-clone.navigation-header .btn-default:hover, body.mobile-always .fixmenu-clone.navigation-header .btn-default:focus { color: #82cec3; }
body.mobile-always .fixmenu-clone.navigation-header .current > a:not(.dropdown-toggle):after,
body.mobile-always .fixmenu-clone.navigation-header .dropdown-toggle:before, body.mobile-always .fixmenu-clone.navigation-header .featured > a:hover,
body.mobile-always .fixmenu-clone.navigation-header .featured > a:active, body.mobile-always .fixmenu-clone.navigation-header .base_clr_bg, body.mobile-always .fixmenu-clone.navigation-header .base_clr_bg:hover, body.mobile-always .fixmenu-clone.navigation-header .base_clr_bg:active,
body.mobile-always .fixmenu-clone.navigation-header .btn.base_clr_bg { background-color: #82cec3; }
body.mobile-always .fixmenu-clone.navigation-header .featured > a, body.mobile-always .fixmenu-clone.navigation-header .featured > a:hover, body.mobile-always .fixmenu-clone.navigation-header .featured > a:active,
body.mobile-always .fixmenu-clone.navigation-header .featured > a:focus, body.mobile-always .fixmenu-clone.navigation-header .base_clr_brd, body.mobile-always .fixmenu-clone.navigation-header .base_clr_brd:hover, body.mobile-always .fixmenu-clone.navigation-header .base_clr_brd:active { border-color: #82cec3; }
@media (max-width: 1024px) {
.navigation-header a, .navigation-header a:hover, .navigation-header a:active, .navigation-header a:focus,
.navigation-header i, .navigation-header i:before, .navigation-header i:hover, .navigation-header i:hover:before,
.navigation-header i, .navigation-header i:before, .navigation-header i:hover, .navigation-header i:hover:before,
.navigation-header .featured > a, .navigation-header .current > a:not(.dropdown-toggle), .navigation-header .dropdown-menu > .menu-item > a, .navigation-header .dropdown-menu > .menu-item > a:hover,
.navigation-header .dropdown-menu > .menu-item > a:active, .navigation-header .dropdown-menu > .menu-item > a:focus, .navigation-header .dropdown-menu > .menu-item.active >a,
.navigation-header .dropdown-menu > .menu-item.active > a:hover, .navigation-header .dropdown-menu > .menu-item.active > a:focus, .navigation-header .dropdown-menu > .menu-item.active > a:active, .navigation-header .dropdown:hover:after,
.navigation-header .base_clr_txt, .navigation-header .btn-default:hover, .navigation-header .btn-default:focus { color: #82cec3; }
.navigation-header .current > a:not(.dropdown-toggle):after,
.navigation-header .dropdown-toggle:before, .navigation-header .featured > a:hover,
.navigation-header .featured > a:active, .navigation-header .base_clr_bg, .navigation-header .base_clr_bg:hover, .navigation-header .base_clr_bg:active,
.navigation-header .btn.base_clr_bg { background-color: #82cec3; }
.navigation-header .featured > a, .navigation-header .featured > a:hover, .navigation-header .featured > a:active,
.navigation-header .featured > a:focus, .navigation-header .base_clr_brd, .navigation-header .base_clr_brd:hover, .navigation-header .base_clr_brd:active { border-color: #82cec3; }
.navigation-header.inner-menu a, .navigation-header.inner-menu a:hover, .navigation-header.inner-menu a:active, .navigation-header.inner-menu a:focus,
.navigation-header.inner-menu i, .navigation-header.inner-menu i:before, .navigation-header.inner-menu i:hover, .navigation-header.inner-menu i:hover:before,
.navigation-header.inner-menu i, .navigation-header.inner-menu i:before, .navigation-header.inner-menu i:hover, .navigation-header.inner-menu i:hover:before,
.navigation-header.inner-menu .featured > a, .navigation-header.inner-menu .current > a:not(.dropdown-toggle), .navigation-header.inner-menu .dropdown-menu > .menu-item > a, .navigation-header.inner-menu .dropdown-menu > .menu-item > a:hover,
.navigation-header.inner-menu .dropdown-menu > .menu-item > a:active, .navigation-header.inner-menu .dropdown-menu > .menu-item > a:focus, .navigation-header.inner-menu .dropdown-menu > .menu-item.active >a,
.navigation-header.inner-menu .dropdown-menu > .menu-item.active > a:hover, .navigation-header.inner-menu .dropdown-menu > .menu-item.active > a:focus, .navigation-header.inner-menu .dropdown-menu > .menu-item.active > a:active, .navigation-header.inner-menu .dropdown:hover:after,
.navigation-header.inner-menu .base_clr_txt, .navigation-header.inner-menu .btn-default:hover, .navigation-header.inner-menu .btn-default:focus { color: #82cec3; }
.navigation-header.inner-menu .current > a:not(.dropdown-toggle):after,
.navigation-header.inner-menu .dropdown-toggle:before, .navigation-header.inner-menu .featured > a:hover,
.navigation-header.inner-menu .featured > a:active, .navigation-header.inner-menu .base_clr_bg, .navigation-header.inner-menu .base_clr_bg:active,, .navigation-header.inner-menu .base_clr_bg:hover,
.navigation-header.inner-menu .btn.base_clr_bg { background-color: #82cec3; }
.navigation-header.inner-menu .featured > a, .navigation-header.inner-menu .featured > a:hover, .navigation-header.inner-menu .featured > a:active,
.navigation-header.inner-menu .featured > a:focus, .navigation-header.inner-menu .base_clr_brd, .navigation-header.inner-menu .base_clr_brd:active, .navigation-header.inner-menu .base_clr_brd:hover { border-color: #82cec3; }
.fixmenu-clone.navigation-header a, .fixmenu-clone.navigation-header a:hover, .fixmenu-clone.navigation-header a:active, .fixmenu-clone.navigation-header a:focus,
.fixmenu-clone.navigation-header i, .fixmenu-clone.navigation-header i:before, .fixmenu-clone.navigation-header i:hover, .fixmenu-clone.navigation-header i:hover:before,
.fixmenu-clone.navigation-header i, .fixmenu-clone.navigation-header i:before, .fixmenu-clone.navigation-header i:hover, .fixmenu-clone.navigation-header i:hover:before,
.fixmenu-clone.navigation-header .featured > a, .fixmenu-clone.navigation-header .current > a:not(.dropdown-toggle), .fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a:hover,
.fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a:active, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item > a:focus, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active >a,
.fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active > a:hover, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active > a:focus, .fixmenu-clone.navigation-header .dropdown-menu > .menu-item.active > a:active, .fixmenu-clone.navigation-header .dropdown:hover:after,
.fixmenu-clone.navigation-header .base_clr_txt, .fixmenu-clone.navigation-header .btn-default:hover, .fixmenu-clone.navigation-header .btn-default:focus { color: #82cec3; }
.fixmenu-clone.navigation-header .current > a:not(.dropdown-toggle):after,
.fixmenu-clone.navigation-header .dropdown-toggle:before, .fixmenu-clone.navigation-header .featured > a:hover,
.fixmenu-clone.navigation-header .featured > a:active, .fixmenu-clone.navigation-header .base_clr_bg, .fixmenu-clone.navigation-header .base_clr_bg:active, .fixmenu-clone.navigation-header .base_clr_bg:hover,
.fixmenu-clone.navigation-header .btn.base_clr_bg { background-color: #82cec3; }
.fixmenu-clone.navigation-header .featured > a, .fixmenu-clone.navigation-header .featured > a:hover, .fixmenu-clone.navigation-header .featured > a:active,
.fixmenu-clone.navigation-header .featured > a:focus, .fixmenu-clone.navigation-header .base_clr_brd, .fixmenu-clone.navigation-header .base_clr_brd:hover, .fixmenu-clone.navigation-header .base_clr_brd:active { border-color: #82cec3; }
}
#footer { background-position: center center !important; }
#footer { background-repeat: no-repeat !important; }
#footer { background-size: auto !important; }

				/**:before,*/ a, a:hover, a:active, a:focus, .fa, .icon, i, i:hover, h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, .h7 b, .featured > a, .current > a:not(.dropdown-toggle),
				.dropdown-menu > .menu-item > a, .dropdown-menu > .menu-item > a:hover, .dropdown-menu > .menu-item > a:focus, .dropdown-menu > .menu-item > a:active, .dropdown-menu > .menu-item.active > a,
				.dropdown-menu > .menu-item.active > a:hover, .dropdown-menu > .menu-item.active > a:focus, .dropdown-menu > .menu-item.active > a:active, .dropdown:hover:after, .vsc-countdown .countdown-period, .base_clr_txt, .base_clr_txt:hover,
				.base_clr_txt:focus, .base_clr_txt:active, .gform_wrapper .button, .base_clr_bg:not(:hover) .btn-outline:not(:active):not(:hover), .lighter-overlay .base_clr_txt, .darker-overlay .base_clr_txt { color: #71c9ba; }

				::selection { background-color: #71c9ba; }
				::-moz-selection { background-color: #71c9ba; }

				a.selected, input[type=submit], input[type=submit]:focus, input[type=submit]:hover, input[type=button], input[type=button]:focus, input[type=button]:hover,
				.current > a:not(.dropdown-toggle):after, .dropdown-toggle:before, .tagcloud > a:hover, .featured > a:hover, .featured > a:active,
				.more-link:hover, .more-link:active, .nav li.active a, .nav li.ui-state-active a, .nav li.ui-state-hover a, .nav li.active a:hover, .nav li.active a:focus,
				.nav li.ui-state-active a:hover, .nav li.ui-state-active a:focus, .nav li.ui-state-hover a:hover, .nav li.ui-state-hover a:focus, .ui-state-active a .tab-info,
				.ui-state-active a .tab-info:hover, .ui-state-active a .tab-info:focus, .ui-state-active a, .bx-controls a, .tagcloud > a:hover, .tagcloud > a:active,
				.ui-slider-range, .gform_wrapper .gf_progressbar_wrapper .gf_progressbar_percentage, .base_clr_bg, .base_clr_bg:hover, .gform_wrapper .button,
				.base_clr_bg:focus, .base_clr_bg:active, .base_clr_bg.gradient { background-color: #71c9ba; }

				.more-link, .flex-active, .featured > a, .featured > a:hover, .featured > a:active, .featured > a:focus, .base_clr_brd, .base_clr_bg:not(:hover) .btn-outline, .gform_wrapper .button,
				.base_clr_brd:hover, .base_clr_brd:active, .base_clr_brd:focus, input[type=submit], input[type=submit]:focus, input[type=submit]:hover, input[type=button], input[type=button]:focus, input[type=button]:hover { border-color: #71c9ba; }

					textarea, select, input[type=text], input[type=url], input[type=tel], input[type=number], input[type=color], input[type=email], input[type=password],
					textarea:focus, input[type=text]:focus, input[type=url]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=color]:focus, input[type=email]:focus, input[type=password]:focus,
					textarea:hover, input[type=text]:hover, input[type=url]:hover, input[type=tel]:hover, input[type=number]:hover, input[type=color]:hover, input[type=email]:hover, input[type=password]:hover { border-left-color: #71c9ba; }
.navigation-header { background-color: rgba(255, 255, 255, 0.9); }

@media screen and (max-width: 1024px) {
  .fixmenu-clone.navigation-header .navigation-brand {
    background-color: transparent;
  }
}
.navigation-brand{padding-right:50px}